flow.json
[
    {
        "id": "531e23be5dd8efe8",
        "type": "tab",
        "label": "Oven Burner Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f97ba6bb088d1b36",
        "type": "tab",
        "label": "Motor Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f56bc6acb992506d",
        "type": "tab",
        "label": "Tank",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2bc02f46.a8e46",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8178b9f6e8586214",
        "type": "s7 endpoint",
        "d": true,
        "transport": "iso-on-tcp",
        "address": "100.0.0.73",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "LINE 3 PLC",
        "vartable": [
            {
                "addr": "DB60,X0.0",
                "name": "PCO_TT_BURNER ENABLE"
            },
            {
                "addr": "DB60,X4.7",
                "name": "PCO_TT_COMMON INTERLOCK"
            },
            {
                "addr": "DB60,X6.4",
                "name": "PCO_TT_TRIP"
            },
            {
                "addr": "DB60,X6.5",
                "name": "PCO_TT_RUN"
            },
            {
                "addr": "DB60,X6.6",
                "name": "PCO_TT_RESET"
            },
            {
                "addr": "DB60,X6.7",
                "name": "PCO_TT_HIGH FIRE"
            },
            {
                "addr": "DB60,X7.0",
                "name": "PCO_TT_LOW FIRE"
            },
            {
                "addr": "DB60,REAL10",
                "name": "PCO_TT_SV"
            },
            {
                "addr": "DB60,INT34",
                "name": "PCO_TT_PID P"
            },
            {
                "addr": "DB60,INT36",
                "name": "PCO_TT_PID I"
            },
            {
                "addr": "DB45,REAL8928",
                "name": "PCO_TT_PV"
            },
            {
                "addr": "DB45,REAL8932",
                "name": "PCO_TT_RH"
            },
            {
                "addr": "DB45,REAL8936",
                "name": "PCO_TT_RL"
            },
            {
                "addr": "DB45,REAL8948",
                "name": "PCO_TT_ALM_SV_HH"
            },
            {
                "addr": "DB45,REAL8952",
                "name": "PCO_TT_ALM_SV_H"
            },
            {
                "addr": "DB45,REAL8956",
                "name": "PCO_TT_ALM_SV_L"
            },
            {
                "addr": "DB45,REAL8960",
                "name": "PCO_TT_ALM_SV_LL"
            },
            {
                "addr": "DB45,REAL8974",
                "name": "PCO_TT_HYS_SV_HH"
            },
            {
                "addr": "DB45,REAL8978",
                "name": "PCO_TT_HYS_SV_H"
            },
            {
                "addr": "DB45,REAL8982",
                "name": "PCO_TT_HYS_SV_L"
            },
            {
                "addr": "DB45,REAL8986",
                "name": "PCO_TT_HYS_SV_LL"
            }
        ]
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "664d663a3ca8c57d",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "64690ecdf7ca17a4",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#5c983a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "664d663a3ca8c57d",
        "type": "ui_tab",
        "name": "OVEN BURNER",
        "icon": "fa-free-code-camp",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "182308aa23fdfe0c",
        "type": "ui_group",
        "name": "PCO TT BURNER CONTROL",
        "tab": "664d663a3ca8c57d",
        "order": 3,
        "disp": true,
        "width": "28",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d8455bbb4b88ca11",
        "type": "ui_group",
        "name": "PCO TT BURNER INTERLOCK",
        "tab": "664d663a3ca8c57d",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd06276e19088ece",
        "type": "ui_group",
        "name": "LINE SELECTION",
        "tab": "664d663a3ca8c57d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10edf20cd1978f63",
        "type": "ui_group",
        "name": "PCO TT ALARM SETTING",
        "tab": "664d663a3ca8c57d",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b8af8da263b78ce",
        "type": "ui_group",
        "name": "PCO CTT ALARM SETTING",
        "tab": "664d663a3ca8c57d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35d1279dc3c417ba",
        "type": "ui_tab",
        "name": "MOTOR",
        "icon": "toys",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f38030ca387e052d",
        "type": "ui_group",
        "name": "CGT STIRRER RHS",
        "tab": "35d1279dc3c417ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "032577c3b750a832",
        "type": "ui_tab",
        "name": "TANK",
        "icon": "broken_image",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3bc390d38bd82689",
        "type": "ui_group",
        "name": "ACT1 TANK CONTROL",
        "tab": "032577c3b750a832",
        "order": 2,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7198f93e.4f6f5",
        "type": "ui_group",
        "name": "Ashfield weather",
        "tab": "de0f6b36.132fa8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "de0f6b36.132fa8",
        "type": "ui_tab",
        "name": "Weather",
        "icon": "dashboard",
        "order": 27,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "93fae10c.09faa",
        "type": "ui_group",
        "name": "Default",
        "tab": "6ff5405c.a8e6",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "6ff5405c.a8e6",
        "type": "ui_tab",
        "name": "TEST",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90294327ba84bde4",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b93dad879699ac0",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "15709f7975cd03ea",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "1683b2ed57fa2e91",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "a39a2e170b308cb6",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "a597a8ae32b41dce",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 21,
        "width": 2,
        "height": 1
    },
    {
        "id": "910134314b5fdd02",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 23,
        "width": 7,
        "height": 1
    },
    {
        "id": "103a94778801ce41",
        "type": "ui_group",
        "name": "ACT1 INV",
        "tab": "032577c3b750a832",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc1b923d.14259",
        "type": "ui_group",
        "name": "Default",
        "tab": "28f4e723.1c8a68",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28f4e723.1c8a68",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0a934e3350b374b5",
        "type": "ui_group",
        "name": "ACT1 TT ALARM SETTING",
        "tab": "032577c3b750a832",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4253e9a4571a0156",
        "type": "ui_group",
        "name": "ACT1 LT ALARM SETTING",
        "tab": "032577c3b750a832",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6cb5411a7e994a0e",
        "type": "ui_group",
        "name": "LINE SELECTION",
        "tab": "032577c3b750a832",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7dad506faf5b84dc",
        "type": "ui_spacer",
        "z": "f56bc6acb992506d",
        "name": "spacer",
        "group": "3bc390d38bd82689",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1cb76b6cbf6aa91",
        "type": "ui_spacer",
        "z": "f56bc6acb992506d",
        "name": "spacer",
        "group": "3bc390d38bd82689",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "6ff81c2149b50165",
        "type": "ui_spacer",
        "z": "f56bc6acb992506d",
        "name": "spacer",
        "group": "3bc390d38bd82689",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "bdf6f46d92359c93",
        "type": "ui_spacer",
        "z": "f56bc6acb992506d",
        "name": "spacer",
        "group": "3bc390d38bd82689",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3f98a726b2143b0",
        "type": "ui_spacer",
        "z": "f56bc6acb992506d",
        "name": "spacer",
        "group": "3bc390d38bd82689",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "0b3eff72845bdf5e",
        "type": "ui_spacer",
        "z": "f56bc6acb992506d",
        "name": "spacer",
        "group": "3bc390d38bd82689",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "17d71709a80ec5a5",
        "type": "ui_spacer",
        "z": "f56bc6acb992506d",
        "name": "spacer",
        "group": "3bc390d38bd82689",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "1a6a73230e00c124",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "Important Programming Notes",
        "info": "Updated on 12/1/2023\nTo store a memory in NodeRED use global memory to store the value, so that we can call the memory elsewhere within the project.\n\nFunction \nto retrieve the memory use: example-\nglobal.get(var1)\n\nto set the global memory use: example-\nglobal.set(var1,msg.payload);\n\n\n",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "531e23be5dd8efe8",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 120,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fa3e4d121d9191c2",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "This is use to show date and time at header",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "da0691e9d480e047",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "OVEN BURNER",
        "info": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "20b29bc734692b17",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_BURNER ENABLE",
        "name": "",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "b268c73d16fb60ca",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "DISABLE",
        "tooltip": "BURNER DISABLE",
        "color": "{{text}}",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "20b29bc734692b17",
                "7c926711f59f2ede",
                "59d7561b9b7eab1e"
            ]
        ]
    },
    {
        "id": "cfd2b4beb556b27b",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ENABLE",
        "tooltip": "BURNER ENABLE",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "20b29bc734692b17",
                "638dd364e0679c6e",
                "0040289591de748f"
            ]
        ]
    },
    {
        "id": "752784e40c7b57b2",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "BURNER FEEDBACK",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 2840,
        "wires": []
    },
    {
        "id": "73650e755179b3f6",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RUN",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 2840,
        "wires": [
            [
                "279a78e174af41cc"
            ]
        ]
    },
    {
        "id": "279a78e174af41cc",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "RUNNING STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RUNNING\";\n}\nelse\n{\n    msg.payload = \"STOPPED\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2840,
        "wires": [
            [
                "752784e40c7b57b2"
            ]
        ]
    },
    {
        "id": "c9415ea119deeef9",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER MODE",
        "info": "",
        "x": 120,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb1a554c7d2d1d49",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER STATUS",
        "info": "",
        "x": 130,
        "y": 2760,
        "wires": []
    },
    {
        "id": "c49588c318015f84",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "BURNER RESET",
        "tooltip": "BURNER RESET",
        "color": "",
        "bgcolor": "GREY",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "22e5e509e337e63c"
            ]
        ]
    },
    {
        "id": "63ed38e9034aecec",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_RESET",
        "name": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "b852ed5021897352",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 12,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "FIRING MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 2880,
        "wires": []
    },
    {
        "id": "2369520784470eb3",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH FIRE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"HIGH FIRE\";\n}\nelse\n    msg.payload = \"-\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2880,
        "wires": [
            [
                "b852ed5021897352"
            ]
        ]
    },
    {
        "id": "4aea625171a70cf8",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_HIGH FIRE",
        "diff": true,
        "name": "",
        "x": 180,
        "y": 2880,
        "wires": [
            [
                "2369520784470eb3"
            ]
        ]
    },
    {
        "id": "d37602e423170d0a",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_LOW FIRE",
        "diff": true,
        "name": "",
        "x": 180,
        "y": 2920,
        "wires": [
            [
                "503c816c11329039"
            ]
        ]
    },
    {
        "id": "22e5e509e337e63c",
        "type": "trigger",
        "z": "531e23be5dd8efe8",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "63ed38e9034aecec"
            ]
        ]
    },
    {
        "id": "8e7d1070c458fd78",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER INTERLOCK",
        "info": "",
        "x": 140,
        "y": 3160,
        "wires": []
    },
    {
        "id": "e67ee8057610ecd1",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "PCO BURNER INTERLOCK",
        "tooltip": "BURNER INTERLOCK",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "picture_in_picture_alt",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_BURNER_INTERLOCK\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 460,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "bc1d0b076c269dae",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_COMMON INTERLOCK",
        "diff": true,
        "name": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "90b41bb1b1e5de0b"
            ]
        ]
    },
    {
        "id": "90b41bb1b1e5de0b",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "BUTTON COLOUR",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RED\";\n}\nelse\n{\n    msg.payload = \"GREY\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "e67ee8057610ecd1"
            ]
        ]
    },
    {
        "id": "30dad1a50e6d4d39",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "d8455bbb4b88ca11",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLOSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_BURNER_INTERLOCK\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 160,
        "y": 3200,
        "wires": [
            [
                "44b53a3d233d9c1f"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "2948310533641581",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 980,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e0d72ea15a1aa37a",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 2_1",
        "links": [
            "44b53a3d233d9c1f",
            "fceb29252fcf0826"
        ],
        "x": 815,
        "y": 420,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "44b53a3d233d9c1f",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 2_2",
        "mode": "link",
        "links": [
            "e0d72ea15a1aa37a"
        ],
        "x": 235,
        "y": 3200,
        "wires": []
    },
    {
        "id": "03705633eccd0f1e",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 1,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "ESTOP",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "ESTOP",
        "x": 600,
        "y": 3240,
        "wires": []
    },
    {
        "id": "4ebfb17d149b3681",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 2,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "MAIN DRIVE OFF FB",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "MAIN DRIVE OFF FB",
        "x": 640,
        "y": 3280,
        "wires": []
    },
    {
        "id": "4d5a6d9c8d73ed45",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 3,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO TT HH ALARM",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO TT HH ALARM",
        "x": 640,
        "y": 3320,
        "wires": []
    },
    {
        "id": "adaf8abedc53967f",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 4,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO CTT HH ALARM",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO CTT HH ALARM",
        "x": 640,
        "y": 3360,
        "wires": []
    },
    {
        "id": "9ef5d8d312068ee6",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 5,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO BL OFF FB",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO BL OFF FB",
        "x": 630,
        "y": 3400,
        "wires": []
    },
    {
        "id": "18b5a21b8f1b225e",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 6,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO TT WIRE BREAK",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO TT WIRE BREAK",
        "x": 640,
        "y": 3440,
        "wires": []
    },
    {
        "id": "9e7ffcbd2dec6c4b",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_PID P",
        "name": "",
        "x": 480,
        "y": 660,
        "wires": []
    },
    {
        "id": "f197a2abf9d6658c",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_PID I",
        "name": "",
        "x": 480,
        "y": 700,
        "wires": []
    },
    {
        "id": "14f05e24f4a6f77b",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "SET VALUE (°C)",
        "tooltip": "OVEN BURNER SET VALUE",
        "group": "182308aa23fdfe0c",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "d26a9199a5dfa56e"
            ]
        ]
    },
    {
        "id": "5f18e18d611e4814",
        "type": "ui_gauge",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "PCO TT PV",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ffff29",
            "#11ee11",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "319589604de509b9",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PID (P)",
        "tooltip": "",
        "group": "182308aa23fdfe0c",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 300,
        "y": 660,
        "wires": [
            [
                "9e7ffcbd2dec6c4b"
            ]
        ]
    },
    {
        "id": "55fbf2ba885ed060",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PID (I)",
        "tooltip": "",
        "group": "182308aa23fdfe0c",
        "order": 20,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "f197a2abf9d6658c"
            ]
        ]
    },
    {
        "id": "682c9829fa8e6469",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_SV",
        "name": "",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "d26a9199a5dfa56e",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_RH",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "f2a1b09e5153f1d5"
            ],
            [
                "fbe858ae85cf2d05",
                "1a1720033abb7d19"
            ]
        ]
    },
    {
        "id": "5f8ada846dc4fadc",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RH",
        "diff": true,
        "name": "",
        "x": 890,
        "y": 880,
        "wires": [
            [
                "0fe103d8a862e9f1"
            ]
        ]
    },
    {
        "id": "0fe103d8a862e9f1",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. RH",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "53843c2059cfa9e6",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1010,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fbe858ae85cf2d05",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var RH=global.get(\"PCO_TT_RH\");\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value. Insert Between 0 - \" + RH;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "53843c2059cfa9e6"
            ]
        ]
    },
    {
        "id": "88e69eccc8008dde",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_SV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "14f05e24f4a6f77b"
            ]
        ]
    },
    {
        "id": "f2a1b09e5153f1d5",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PCO_TT_SV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "682c9829fa8e6469"
            ]
        ]
    },
    {
        "id": "5fe42aa1f1038ee1",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "Save RH as global memory",
        "info": "",
        "x": 930,
        "y": 820,
        "wires": []
    },
    {
        "id": "b1f77fb70b656ea7",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 1_2",
        "links": [
            "1a1720033abb7d19"
        ],
        "x": 75,
        "y": 540,
        "wires": [
            [
                "88e69eccc8008dde"
            ]
        ]
    },
    {
        "id": "1a1720033abb7d19",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 1_1",
        "mode": "link",
        "links": [
            "b1f77fb70b656ea7"
        ],
        "x": 465,
        "y": 540,
        "wires": []
    },
    {
        "id": "600e782887d15982",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 800,
        "wires": [
            [
                "5f18e18d611e4814"
            ]
        ]
    },
    {
        "id": "4349615eda7dbdb4",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "OVEN TT PV AND ALARM SETTING",
        "info": "",
        "x": 170,
        "y": 840,
        "wires": []
    },
    {
        "id": "9c3e8781caabaff6",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 5,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "PCO TT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "settings",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "978429571333756f"
            ]
        ]
    },
    {
        "id": "978429571333756f",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "bbfada5e88e72278",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "10edf20cd1978f63",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "CLOSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "close",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 560,
        "y": 1040,
        "wires": [
            [
                "8eda9e7cede93ede"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "8eda9e7cede93ede",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK TT 2",
        "mode": "link",
        "links": [
            "35ef7bf729d0c410"
        ],
        "x": 645,
        "y": 1040,
        "wires": []
    },
    {
        "id": "35ef7bf729d0c410",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK TT 1",
        "links": [
            "8eda9e7cede93ede"
        ],
        "x": 295,
        "y": 1000,
        "wires": [
            [
                "978429571333756f"
            ]
        ]
    },
    {
        "id": "c160bd9a71a0face",
        "type": "random",
        "z": "531e23be5dd8efe8",
        "name": "",
        "low": 1,
        "high": "200",
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 960,
        "wires": [
            [
                "5a76a7e40f4c0227"
            ]
        ]
    },
    {
        "id": "5d55666e578f0292",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(\"PCO_TT_HH\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "a4941b01d1463972",
                "48db4fececec8501"
            ]
        ]
    },
    {
        "id": "a3dad1aac0366692",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. H",
        "func": "global.set(\"PCO_TT_H\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1120,
        "wires": [
            [
                "080d9396ee98e37f",
                "48db4fececec8501"
            ]
        ]
    },
    {
        "id": "b325fc4722598793",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. L",
        "func": "global.set(\"PCO_TT_L\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "d4aca6a0cc6e8843",
                "48db4fececec8501"
            ]
        ]
    },
    {
        "id": "5d9d1656276b2b2a",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(\"PCO_TT_LL\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "beb54117bf1798f5",
                "48db4fececec8501"
            ]
        ]
    },
    {
        "id": "34d73c82abb763a1",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "c160bd9a71a0face"
            ]
        ]
    },
    {
        "id": "03c7c082244cd929",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "10edf20cd1978f63",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 230,
        "y": 1080,
        "wires": [
            [
                "5d55666e578f0292"
            ]
        ]
    },
    {
        "id": "5a76a7e40f4c0227",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\nvar RH = global.get(\"PCO_TT_RH\");\n\n//if sensor wire break or out of range\nif (msg.payload < 0 || msg.payload > RH) \n{\n    msg.payload = \"Error\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 880,
        "wires": [
            [
                "5f18e18d611e4814"
            ]
        ]
    },
    {
        "id": "8dbd51a75553cf33",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PCO_TT_RH",
        "payload": "200",
        "payloadType": "num",
        "x": 920,
        "y": 960,
        "wires": [
            [
                "0fe103d8a862e9f1"
            ]
        ]
    },
    {
        "id": "966ecf63762dd5b2",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "10edf20cd1978f63",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 1120,
        "wires": [
            [
                "a3dad1aac0366692"
            ]
        ]
    },
    {
        "id": "b2861a41ae1798cd",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "10edf20cd1978f63",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 1160,
        "wires": [
            [
                "b325fc4722598793"
            ]
        ]
    },
    {
        "id": "c192b063d1d4b584",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "10edf20cd1978f63",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 220,
        "y": 1200,
        "wires": [
            [
                "c77bcd4eb9852cc6"
            ]
        ]
    },
    {
        "id": "75a35e32e764a142",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "a8b5db4f093911a3",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1200,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c77bcd4eb9852cc6",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "5d9d1656276b2b2a"
            ],
            [
                "a53bca32c6f8c552",
                "0823d840ca35b35a"
            ]
        ]
    },
    {
        "id": "a53bca32c6f8c552",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1240,
        "wires": [
            [
                "2cf33973122a7933"
            ]
        ]
    },
    {
        "id": "0823d840ca35b35a",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "c192b063d1d4b584"
            ]
        ]
    },
    {
        "id": "2cf33973122a7933",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7d7d4c1e2e752f",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "10edf20cd1978f63",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "4a0aaab9c13298b5"
            ]
        ]
    },
    {
        "id": "af42b669f2c3614e",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "10edf20cd1978f63",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1340,
        "wires": [
            [
                "151c5a2ca00f1aa5"
            ]
        ]
    },
    {
        "id": "d00ac4e49d17989e",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "10edf20cd1978f63",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1380,
        "wires": [
            [
                "e479f08610a4762e"
            ]
        ]
    },
    {
        "id": "989bf8a02646fdf6",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "10edf20cd1978f63",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "344b5c39186b78ef"
            ]
        ]
    },
    {
        "id": "a4941b01d1463972",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 910,
        "y": 1080,
        "wires": []
    },
    {
        "id": "080d9396ee98e37f",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 900,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d4aca6a0cc6e8843",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "beb54117bf1798f5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 900,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4a0aaab9c13298b5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 910,
        "y": 1300,
        "wires": []
    },
    {
        "id": "151c5a2ca00f1aa5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 900,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e479f08610a4762e",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 900,
        "y": 1380,
        "wires": []
    },
    {
        "id": "344b5c39186b78ef",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 900,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8bac12e9c6b17c1c",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "5a76a7e40f4c0227"
            ]
        ]
    },
    {
        "id": "df003c1f6e2d5ccc",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 110,
        "y": 920,
        "wires": []
    },
    {
        "id": "76350c560ff81ad9",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "CHAMBER TT PV AND ALARM SETTING",
        "info": "",
        "x": 180,
        "y": 1740,
        "wires": []
    },
    {
        "id": "3c3db064774ea81a",
        "type": "ui_gauge",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "PCO CTT PV",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ffff29",
            "#11ee11",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 740,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f0a1a51dd3837d8f",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1800,
        "wires": [
            [
                "3c3db064774ea81a"
            ]
        ]
    },
    {
        "id": "5952011739991237",
        "type": "random",
        "z": "531e23be5dd8efe8",
        "name": "",
        "low": 1,
        "high": "200",
        "inte": "false",
        "property": "payload",
        "x": 280,
        "y": 1920,
        "wires": [
            [
                "82d6079b592d68db"
            ]
        ]
    },
    {
        "id": "0d6f65f2300bf31c",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1920,
        "wires": [
            [
                "5952011739991237"
            ]
        ]
    },
    {
        "id": "82d6079b592d68db",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\nvar RH = global.get(\"PCO_TT_RH\");\n\n//if sensor wire break or out of range\nif (msg.payload < 0 || msg.payload > RH) \n{\n    msg.payload = \"Error\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1840,
        "wires": [
            [
                "3c3db064774ea81a"
            ]
        ]
    },
    {
        "id": "de342819ee517eb1",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 130,
        "y": 1880,
        "wires": []
    },
    {
        "id": "ca0e27c8d7c14603",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "CHAMBER TT PV AND ALARM SETTING",
        "info": "",
        "x": 1120,
        "y": 1840,
        "wires": []
    },
    {
        "id": "6881e3e5.30927c",
        "type": "ui_template",
        "z": "531e23be5dd8efe8",
        "group": "",
        "name": "Custom Text Input Dashoard size",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style id='custom-styles'>\n    .nr-dashboard-theme .nr-dashboard-textinput input {\n        border-color: #eeeeee;\n        color: #eeeeee;\n        border-bottom-width: 1px;\n        font-family: inherit;\n        padding-left: 5px;\n        font-size: 25px;\n        height: 45px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3546c391b94fca8c",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "PCO CTT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "settings",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_CTT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2000,
        "wires": [
            [
                "0fcbdf73762289cc"
            ]
        ]
    },
    {
        "id": "0fcbdf73762289cc",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "ee07e323067328ab",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "7b8af8da263b78ce",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "CLOSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_CTT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 580,
        "y": 2000,
        "wires": [
            [
                "baabce67e4ff11d6"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "baabce67e4ff11d6",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK CTT 2",
        "mode": "link",
        "links": [
            "5b994a286ae299dd"
        ],
        "x": 665,
        "y": 2000,
        "wires": []
    },
    {
        "id": "5b994a286ae299dd",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK CTT 1",
        "links": [
            "baabce67e4ff11d6"
        ],
        "x": 315,
        "y": 1960,
        "wires": [
            [
                "0fcbdf73762289cc"
            ]
        ]
    },
    {
        "id": "158116ad7511f292",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(\"PCO_TT_HH\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2040,
        "wires": [
            [
                "828388826c80204a",
                "035f40454fd411a8"
            ]
        ]
    },
    {
        "id": "e81e4bb848bee964",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. H",
        "func": "global.set(\"PCO_TT_H\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2080,
        "wires": [
            [
                "5e51f2d1e2782f7b",
                "035f40454fd411a8"
            ]
        ]
    },
    {
        "id": "a47a40cea17f73c8",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. L",
        "func": "global.set(\"PCO_TT_L\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2120,
        "wires": [
            [
                "f3272deed5690f4e",
                "035f40454fd411a8"
            ]
        ]
    },
    {
        "id": "264e9ba31b1a1a08",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(\"PCO_TT_LL\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2160,
        "wires": [
            [
                "4a729a04281d1c91",
                "035f40454fd411a8"
            ]
        ]
    },
    {
        "id": "0e96737e89478b97",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "7b8af8da263b78ce",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 2040,
        "wires": [
            [
                "158116ad7511f292"
            ]
        ]
    },
    {
        "id": "2f03e3b4cd95e14c",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "7b8af8da263b78ce",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 2080,
        "wires": [
            [
                "e81e4bb848bee964"
            ]
        ]
    },
    {
        "id": "d8e97ab737823949",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "7b8af8da263b78ce",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 2120,
        "wires": [
            [
                "a47a40cea17f73c8"
            ]
        ]
    },
    {
        "id": "6324927c0420d414",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "7b8af8da263b78ce",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 2160,
        "wires": [
            [
                "ba469e8a679d5d06"
            ]
        ]
    },
    {
        "id": "f48fd1bcfb4cbcaa",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1220,
        "y": 2120,
        "wires": []
    },
    {
        "id": "ba469e8a679d5d06",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 2180,
        "wires": [
            [
                "264e9ba31b1a1a08"
            ],
            [
                "5033efeb421c8297",
                "398dfa9588a2a8fc"
            ]
        ]
    },
    {
        "id": "5033efeb421c8297",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 2200,
        "wires": [
            [
                "a3cfbb28c58de19f"
            ]
        ]
    },
    {
        "id": "398dfa9588a2a8fc",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 2220,
        "wires": [
            [
                "6324927c0420d414"
            ]
        ]
    },
    {
        "id": "a3cfbb28c58de19f",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "b4275d9df25cebec",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "7b8af8da263b78ce",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 2260,
        "wires": [
            [
                "f31dc77a48c47967"
            ]
        ]
    },
    {
        "id": "83203e9e9535e55a",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "7b8af8da263b78ce",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 360,
        "y": 2300,
        "wires": [
            [
                "0599f6ad88a2e88d"
            ]
        ]
    },
    {
        "id": "a89672aa0d126d90",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "7b8af8da263b78ce",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 360,
        "y": 2340,
        "wires": [
            [
                "104e236f96102db2"
            ]
        ]
    },
    {
        "id": "490d5427cea74815",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "7b8af8da263b78ce",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 2380,
        "wires": [
            [
                "4dd0f93955cc3f47"
            ]
        ]
    },
    {
        "id": "828388826c80204a",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 930,
        "y": 2040,
        "wires": []
    },
    {
        "id": "5e51f2d1e2782f7b",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 920,
        "y": 2080,
        "wires": []
    },
    {
        "id": "f3272deed5690f4e",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 920,
        "y": 2120,
        "wires": []
    },
    {
        "id": "4a729a04281d1c91",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 920,
        "y": 2160,
        "wires": []
    },
    {
        "id": "f31dc77a48c47967",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 930,
        "y": 2260,
        "wires": []
    },
    {
        "id": "0599f6ad88a2e88d",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 920,
        "y": 2300,
        "wires": []
    },
    {
        "id": "104e236f96102db2",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 920,
        "y": 2340,
        "wires": []
    },
    {
        "id": "4dd0f93955cc3f47",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 920,
        "y": 2380,
        "wires": []
    },
    {
        "id": "2a970d2dc3ec18d4",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 130,
        "y": 1840,
        "wires": [
            [
                "82d6079b592d68db"
            ]
        ]
    },
    {
        "id": "6f575a0032279ca4",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_BURNER_CONTROL\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1710,
        "y": 40,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "97193e33283b9c72",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_BURNER_CONTROL\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1710,
        "y": 80,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "526abb34eb32c7d8",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3c9979029c65c653",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d5d6541c0deb33",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e4727a01ffa7c82f",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ff62f24ebff5e77",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "380d0a8e103594e0",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0ca55c6e758e523e",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "40847de8f11a8bc9",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "135d81ece4e28f3e",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2786d8111c8d80ec",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "870a1c33da2a27d6",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fa4928d668b1c910",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ce88938869e85881",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "638dd364e0679c6e",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "green when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "cfd2b4beb556b27b"
            ]
        ]
    },
    {
        "id": "7c926711f59f2ede",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "grey when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "cfd2b4beb556b27b"
            ]
        ]
    },
    {
        "id": "59d7561b9b7eab1e",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "green when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "b268c73d16fb60ca"
            ]
        ]
    },
    {
        "id": "0040289591de748f",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "grey when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "b268c73d16fb60ca"
            ]
        ]
    },
    {
        "id": "4a58b7a474e27e9e",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "BURNER STATUS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 2960,
        "wires": []
    },
    {
        "id": "96c6058dc273322e",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "TRIPPED STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"TRIPPED\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 2960,
        "wires": [
            [
                "4a58b7a474e27e9e"
            ]
        ]
    },
    {
        "id": "2a510e31c5d5e94c",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_TRIP",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 2960,
        "wires": [
            [
                "96c6058dc273322e"
            ]
        ]
    },
    {
        "id": "da1a08a3c508ee27",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "FAIL TO RUN",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO RUN\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3000,
        "wires": [
            [
                "4a58b7a474e27e9e"
            ]
        ]
    },
    {
        "id": "dc448859f7df2724",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "FAIL TO STOP",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO STOP\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 3040,
        "wires": [
            [
                "4a58b7a474e27e9e"
            ]
        ]
    },
    {
        "id": "503c816c11329039",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "LOW FIRE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"LOW FIRE\";\n}\nelse\n    msg.payload = \"-\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2920,
        "wires": [
            [
                "b852ed5021897352"
            ]
        ]
    },
    {
        "id": "a055c06329248bd2",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK TT PV 2",
        "mode": "link",
        "links": [
            "9b07a00133e44a66"
        ],
        "x": 935,
        "y": 1020,
        "wires": []
    },
    {
        "id": "9b07a00133e44a66",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK TT PV 1",
        "links": [
            "a055c06329248bd2"
        ],
        "x": 245,
        "y": 800,
        "wires": [
            [
                "600e782887d15982"
            ]
        ]
    },
    {
        "id": "48db4fececec8501",
        "type": "trigger",
        "z": "531e23be5dd8efe8",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 790,
        "y": 1020,
        "wires": [
            [
                "a055c06329248bd2"
            ]
        ],
        "info": "Commented on 17/1/2023\r\nThis is used to refresh the display setpoint whenever new value is inputted"
    },
    {
        "id": "035f40454fd411a8",
        "type": "trigger",
        "z": "531e23be5dd8efe8",
        "name": "",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 790,
        "y": 1960,
        "wires": [
            [
                "f8cb867804729bce"
            ]
        ],
        "info": "Commented on 17/1/2023\r\nThis is used to refresh the display setpoint whenever new value is inputted"
    },
    {
        "id": "f8cb867804729bce",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK CTT PV 2",
        "mode": "link",
        "links": [
            "2fa1031655451917"
        ],
        "x": 1015,
        "y": 1940,
        "wires": []
    },
    {
        "id": "2fa1031655451917",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK CTT PV 1",
        "links": [
            "f8cb867804729bce",
            "d7ec07dfc9c951b3"
        ],
        "x": 395,
        "y": 1780,
        "wires": [
            [
                "f0a1a51dd3837d8f"
            ]
        ]
    },
    {
        "id": "28bc3ae8c7d2842c",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "TT STATUS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 870,
        "y": 1460,
        "wires": []
    },
    {
        "id": "3c82b1dcab5a0fa4",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 22,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "CTT STATUS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 900,
        "y": 2420,
        "wires": []
    },
    {
        "id": "0f658119ba1fccc0",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "WIRE BREAK",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"WIRE BREAK\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2420,
        "wires": [
            [
                "3c82b1dcab5a0fa4"
            ]
        ]
    },
    {
        "id": "d6a166862f1c3c8e",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2500,
        "wires": [
            [
                "3c82b1dcab5a0fa4"
            ]
        ]
    },
    {
        "id": "d0671bda5f64e669",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2540,
        "wires": [
            [
                "3c82b1dcab5a0fa4"
            ]
        ]
    },
    {
        "id": "a385ece0ac9d3447",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2580,
        "wires": [
            [
                "3c82b1dcab5a0fa4"
            ]
        ]
    },
    {
        "id": "1acf67c564edf539",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "LOW LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 2620,
        "wires": [
            [
                "3c82b1dcab5a0fa4"
            ]
        ]
    },
    {
        "id": "bf8b317344e9863c",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "OUT OF RANGE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"OUT OF RANGE\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 2460,
        "wires": [
            [
                "3c82b1dcab5a0fa4"
            ]
        ]
    },
    {
        "id": "32f687b6911e4ce8",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "WIRE BREAK",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"WIRE BREAK\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1460,
        "wires": [
            [
                "28bc3ae8c7d2842c"
            ]
        ]
    },
    {
        "id": "ade1d02e1f95631e",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1540,
        "wires": [
            [
                "28bc3ae8c7d2842c"
            ]
        ]
    },
    {
        "id": "66817a09b4513270",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1580,
        "wires": [
            [
                "28bc3ae8c7d2842c"
            ]
        ]
    },
    {
        "id": "e70a51df1fb8559b",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1620,
        "wires": [
            [
                "28bc3ae8c7d2842c"
            ]
        ]
    },
    {
        "id": "6c158ba0bf3d2c38",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "LOW LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1660,
        "wires": [
            [
                "28bc3ae8c7d2842c"
            ]
        ]
    },
    {
        "id": "fe9760669005d80c",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "OUT OF RANGE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"OUT OF RANGE\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1500,
        "wires": [
            [
                "28bc3ae8c7d2842c"
            ]
        ]
    },
    {
        "id": "e55de3c875824d37",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PID P",
        "diff": true,
        "name": "",
        "x": 100,
        "y": 660,
        "wires": [
            [
                "319589604de509b9"
            ]
        ]
    },
    {
        "id": "15be5024caa79fb5",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PID I",
        "diff": true,
        "name": "",
        "x": 100,
        "y": 700,
        "wires": [
            [
                "55fbf2ba885ed060"
            ]
        ]
    },
    {
        "id": "ebd067a34ef63e9b",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "",
        "props": [
            {
                "p": "enabled",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1010,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "26f293446a2014b7",
        "type": "s7 out",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_BURNER ENABLE",
        "name": "",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "20b410c09d814249",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "MANUAL",
        "tooltip": "BURNER DISABLE",
        "color": "{{text}}",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "26f293446a2014b7"
            ]
        ]
    },
    {
        "id": "c9f5fc695ee7c2c3",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "AUTO",
        "tooltip": "BURNER ENABLE",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "26f293446a2014b7"
            ]
        ]
    },
    {
        "id": "de1727b1b5674191",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "MOTOR SELECTION MODE",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "e22ffd6bc88dbab8",
        "type": "s7 out",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_BURNER ENABLE",
        "name": "",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "a9877d1f1dd38be5",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "BURNER DISABLE",
        "color": "{{text}}",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "e22ffd6bc88dbab8"
            ]
        ]
    },
    {
        "id": "55f4f548ed79ffbe",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "RUN",
        "tooltip": "BURNER ENABLE",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "e22ffd6bc88dbab8"
            ]
        ]
    },
    {
        "id": "938db1e33ebc8884",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "f38030ca387e052d",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MOTOR STATUS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 690,
        "y": 620,
        "wires": []
    },
    {
        "id": "18bd759a85cfa48d",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "TRIPPED STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"TRIPPED\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 620,
        "wires": [
            [
                "938db1e33ebc8884"
            ]
        ]
    },
    {
        "id": "ccb71026800c3670",
        "type": "s7 in",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_TRIP",
        "diff": true,
        "name": "",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "18bd759a85cfa48d"
            ]
        ]
    },
    {
        "id": "8e4fe7f61b904be9",
        "type": "s7 in",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RUN",
        "diff": true,
        "name": "",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "ce2b3567be875c91"
            ]
        ]
    },
    {
        "id": "ce2b3567be875c91",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "RUNNING STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RUNNING\";\n}\nelse\n{\n    msg.payload = \"STOPPED\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "5d1fd2ee67e3376a"
            ]
        ]
    },
    {
        "id": "5d1fd2ee67e3376a",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "f38030ca387e052d",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MOTOR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 720,
        "y": 580,
        "wires": []
    },
    {
        "id": "87bcb788f579e584",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "MOTOR STATUS",
        "info": "",
        "x": 100,
        "y": 540,
        "wires": []
    },
    {
        "id": "3d85bb9267af63c1",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "DISABLED BUTTON",
        "func": "if (msg.payload == true)\n{\n    msg.enabled = false;\n}\nelse\n{\n    msg.enabled = true;\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "55f4f548ed79ffbe",
                "a9877d1f1dd38be5"
            ]
        ]
    },
    {
        "id": "d2be066e9f588b43",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "FAIL TO RUN",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO RUN\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "938db1e33ebc8884"
            ]
        ]
    },
    {
        "id": "ae0faf42fe4ec4e9",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "FAIL TO STOP",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO STOP\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 700,
        "wires": [
            [
                "938db1e33ebc8884"
            ]
        ]
    },
    {
        "id": "e13d663b3f139e30",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "MOTOR PV AND SV",
        "info": "",
        "x": 150,
        "y": 940,
        "wires": []
    },
    {
        "id": "b720ebb7c6806ba8",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "CHANGE COLOUR ",
        "func": "if (msg.payload == true)\n{\n    msg.colour = \"green\";\n}\nelse\n{\n    msg.colour = \"grey\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "c9f5fc695ee7c2c3"
            ]
        ]
    },
    {
        "id": "1687fd1e292c0279",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "CHANGE COLOUR",
        "func": "if (msg.payload == false)\n{\n    msg.colour = \"green\";\n}\nelse\n{\n    msg.colour = \"grey\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "20b410c09d814249"
            ]
        ]
    },
    {
        "id": "5ae5c19e090ca73e",
        "type": "ui_gauge",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 7,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "CGT STIR RHS PV",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#11ee11",
            "#11ee11",
            "#11ee11"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7620a7c3eaf36a73",
        "type": "random",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "low": "-10",
        "high": "51",
        "inte": "false",
        "property": "payload",
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "d2ed0b73551096ac"
            ]
        ]
    },
    {
        "id": "f448f74a77e0e494",
        "type": "inject",
        "z": "f97ba6bb088d1b36",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "7620a7c3eaf36a73"
            ]
        ]
    },
    {
        "id": "d2ed0b73551096ac",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\n//if sensor wire break or out of range\nif (msg.payload < 0 || msg.payload > 50) \n{\n    msg.payload = \"Error\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "5ae5c19e090ca73e"
            ]
        ]
    },
    {
        "id": "a3715a54b54eab47",
        "type": "s7 in",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "d2ed0b73551096ac"
            ]
        ]
    },
    {
        "id": "a83e1fbd05fad752",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "For test only",
        "info": "",
        "x": 150,
        "y": 1040,
        "wires": []
    },
    {
        "id": "1bb0122a3df44d6b",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "CHANGE COLOUR ",
        "func": "if (msg.payload == true)\n{\n    msg.colour = \"green\";\n}\nelse\n{\n    msg.colour = \"grey\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "55f4f548ed79ffbe"
            ]
        ]
    },
    {
        "id": "e87ca924aaf37a7d",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "CHANGE COLOUR",
        "func": "if (msg.payload == false)\n{\n    msg.colour = \"red\";\n}\nelse\n{\n    msg.colour = \"grey\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "a9877d1f1dd38be5"
            ]
        ]
    },
    {
        "id": "9ea39a5036c099d5",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "WIRE BREAK",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"WIRE BREAK\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 740,
        "wires": [
            [
                "4c5901cadcab7ebd"
            ]
        ]
    },
    {
        "id": "26ad9a675b60574a",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "OUT OF RANGE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"OUT OF RANGE\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 780,
        "wires": [
            [
                "4c5901cadcab7ebd"
            ]
        ]
    },
    {
        "id": "fac1dbd2e0f97d1b",
        "type": "ui_text_input",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "label": "MOTOR SPEED SV (Hz)",
        "tooltip": "MOTOR SPEED SET VALUE",
        "group": "f38030ca387e052d",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 250,
        "y": 1140,
        "wires": [
            [
                "8f0f5e1926e63b2c"
            ]
        ]
    },
    {
        "id": "3a412e64884618dd",
        "type": "s7 out",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_SV",
        "name": "",
        "x": 1030,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8f0f5e1926e63b2c",
        "type": "switch",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "5f83f5cd1475bc16"
            ],
            [
                "a2fed4fdd4270066",
                "b321f898d2c5c7a7"
            ]
        ]
    },
    {
        "id": "c8af20bab8f650b8",
        "type": "ui_toast",
        "z": "f97ba6bb088d1b36",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1050,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "a2fed4fdd4270066",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "Warning Pop Up",
        "func": "\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value. Insert Between 0 - 50\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1180,
        "wires": [
            [
                "c8af20bab8f650b8"
            ]
        ]
    },
    {
        "id": "80e2f315be4a0a37",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CGT_STIRRHS_SV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1180,
        "wires": [
            [
                "fac1dbd2e0f97d1b"
            ]
        ]
    },
    {
        "id": "5f83f5cd1475bc16",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "CGT_STIRRHS_SV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "3a412e64884618dd"
            ]
        ]
    },
    {
        "id": "05d5347187b9bd46",
        "type": "link in",
        "z": "f97ba6bb088d1b36",
        "name": "CGT STIRRHS SV_2",
        "links": [
            "b321f898d2c5c7a7"
        ],
        "x": 105,
        "y": 1180,
        "wires": [
            [
                "80e2f315be4a0a37"
            ]
        ]
    },
    {
        "id": "b321f898d2c5c7a7",
        "type": "link out",
        "z": "f97ba6bb088d1b36",
        "name": "CGT STIRRHS SV_1",
        "mode": "link",
        "links": [
            "05d5347187b9bd46"
        ],
        "x": 515,
        "y": 1180,
        "wires": []
    },
    {
        "id": "4c5901cadcab7ebd",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "f38030ca387e052d",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MOTOR VFD",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 740,
        "wires": []
    },
    {
        "id": "be9e3e91ea353edc",
        "type": "inject",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1030,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "017ccf025d69351a",
        "type": "inject",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1030,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "fcd091d4a1a93224",
        "type": "comment",
        "z": "f56bc6acb992506d",
        "name": "ACID TANK",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "3439d2d5445ce7eb",
        "type": "ui_text",
        "z": "f56bc6acb992506d",
        "group": "3bc390d38bd82689",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ACT1 INV STATE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 2680,
        "wires": []
    },
    {
        "id": "e0e1b0877a9d1fdd",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "STATE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"AUTO\";\n}\nelse\n{\n    msg.payload = \"MANUAL\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2680,
        "wires": [
            [
                "3439d2d5445ce7eb"
            ]
        ]
    },
    {
        "id": "cd6beb3aaafb769e",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "MODE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"AUTO\";\n}\nelse\n{\n    msg.payload = \"MANUAL\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 2640,
        "wires": [
            [
                "8837ace92586e588"
            ]
        ]
    },
    {
        "id": "8837ace92586e588",
        "type": "ui_text",
        "z": "f56bc6acb992506d",
        "group": "3bc390d38bd82689",
        "order": 14,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ACT1 INV MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 770,
        "y": 2640,
        "wires": []
    },
    {
        "id": "91700e259968ce84",
        "type": "ui_button",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "3bc390d38bd82689",
        "order": 17,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "ACT1 INV CONTROL",
        "tooltip": "ACT1 INLET VALVE CONTROL",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "settings",
        "payload": "{\"group\":{\"show\":[\"TANK_ACT1_INV\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2760,
        "wires": [
            [
                "c6a4b80ff2862f2c"
            ]
        ]
    },
    {
        "id": "c6a4b80ff2862f2c",
        "type": "ui_ui_control",
        "z": "f56bc6acb992506d",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "fd3c4940c0657207",
        "type": "ui_button",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "103a94778801ce41",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CLOSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear",
        "payload": "{\"group\":{\"hide\":[\"TANK_ACT1_INV\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 220,
        "y": 2800,
        "wires": [
            [
                "c6a4b80ff2862f2c"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "b6c3d6e9a209d79c",
        "type": "comment",
        "z": "f56bc6acb992506d",
        "name": "ACT1 INV",
        "info": "",
        "x": 140,
        "y": 2720,
        "wires": []
    },
    {
        "id": "1f4feebac283c6c9",
        "type": "ui_gauge",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "3bc390d38bd82689",
        "order": 1,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "ACT1 TT PV",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#11ee11",
            "#11ee11",
            "#11ee11"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "f8c15656fcec7704",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\n//if sensor wire break or out of range\nif (msg.payload < 0 || msg.payload > 50) \n{\n    msg.payload = \"Error\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "1f4feebac283c6c9"
            ]
        ]
    },
    {
        "id": "3cc06cb9ccb52c57",
        "type": "s7 in",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "f8c15656fcec7704"
            ]
        ]
    },
    {
        "id": "84984140a79561be",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "ACT1 TT SV (°C)",
        "tooltip": "ACT1 TEMPERATURE SV",
        "group": "3bc390d38bd82689",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "6493375cad03c55c"
            ]
        ]
    },
    {
        "id": "bf8fa6275e29164b",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_SV",
        "name": "",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "6493375cad03c55c",
        "type": "switch",
        "z": "f56bc6acb992506d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "ACT1_TT_RH",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 260,
        "wires": [
            [
                "571bed819dadba75"
            ],
            [
                "cd721c8aa48174bb",
                "f0a78d764af5a8fe"
            ]
        ]
    },
    {
        "id": "b9e19bcbc4257b49",
        "type": "ui_toast",
        "z": "f56bc6acb992506d",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1070,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f0a78d764af5a8fe",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "Warning Pop Up",
        "func": "var RH = global.get(\"ACT1_TT_RH\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value. Insert Between 0 - \" + RH ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "b9e19bcbc4257b49"
            ]
        ]
    },
    {
        "id": "cd721c8aa48174bb",
        "type": "change",
        "z": "f56bc6acb992506d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ACT1_TT_SV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "84984140a79561be"
            ]
        ]
    },
    {
        "id": "571bed819dadba75",
        "type": "change",
        "z": "f56bc6acb992506d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACT1_TT_SV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "bf8fa6275e29164b"
            ]
        ]
    },
    {
        "id": "1bba918d5aafb0fc",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "Set Max Gauge",
        "func": "global.set(msg.topic, msg.payload);\n\nmsg = \n{\n    ui_control:\n    {\n    max:msg.payload\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "1f4feebac283c6c9"
            ]
        ]
    },
    {
        "id": "fbcc3c229450229c",
        "type": "ui_button",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "3bc390d38bd82689",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "ACT1 TT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "settings",
        "payload": "{\"group\":{\"show\":[\"TANK_ACT1_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 400,
        "wires": [
            [
                "5a75b09226fcdc37"
            ]
        ]
    },
    {
        "id": "5a75b09226fcdc37",
        "type": "ui_ui_control",
        "z": "f56bc6acb992506d",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "19cca3d5e8fea13b",
        "type": "ui_button",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "0a934e3350b374b5",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "CLOSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear",
        "payload": "{\"group\":{\"hide\":[\"TANK_ACT1_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "5a75b09226fcdc37"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "b7ede01654d5662d",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "1cacbad75db01885",
                "1ed6ca9a0b442d5a"
            ]
        ]
    },
    {
        "id": "62082a90c4b271d8",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. H",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 480,
        "wires": [
            [
                "f715235318340b03",
                "1ed6ca9a0b442d5a"
            ]
        ]
    },
    {
        "id": "047ee032971dd98f",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. L",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "4b48e04e30ae6cae",
                "1ed6ca9a0b442d5a"
            ]
        ]
    },
    {
        "id": "2ec16c1c2a86d1f1",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 560,
        "wires": [
            [
                "db6d6a6430634913",
                "1ed6ca9a0b442d5a"
            ]
        ]
    },
    {
        "id": "d128b562f6d367f6",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "PCO TT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "0a934e3350b374b5",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "a32f539f66194619",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "PCO TT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "0a934e3350b374b5",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "aa76cb8a7d5feb76",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "PCO TT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "0a934e3350b374b5",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "11372bb4788eb88a",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "PCO TT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "0a934e3350b374b5",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "743a804edbca6d7f"
            ]
        ]
    },
    {
        "id": "545d0faf9165698f",
        "type": "comment",
        "z": "f56bc6acb992506d",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1220,
        "y": 520,
        "wires": []
    },
    {
        "id": "743a804edbca6d7f",
        "type": "switch",
        "z": "f56bc6acb992506d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "ACT1_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "2ec16c1c2a86d1f1"
            ],
            [
                "1a20d58aded5fb27",
                "f3d12873a6cfb25e"
            ]
        ]
    },
    {
        "id": "1a20d58aded5fb27",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 600,
        "wires": [
            [
                "1ff8360d4bf17ada"
            ]
        ]
    },
    {
        "id": "f3d12873a6cfb25e",
        "type": "change",
        "z": "f56bc6acb992506d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ACT1_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 620,
        "wires": [
            [
                "11372bb4788eb88a"
            ]
        ]
    },
    {
        "id": "1ff8360d4bf17ada",
        "type": "ui_toast",
        "z": "f56bc6acb992506d",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 890,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1cacbad75db01885",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "f715235318340b03",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "4b48e04e30ae6cae",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "db6d6a6430634913",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 920,
        "y": 560,
        "wires": []
    },
    {
        "id": "1ed6ca9a0b442d5a",
        "type": "trigger",
        "z": "f56bc6acb992506d",
        "name": "refresh sector",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 800,
        "y": 360,
        "wires": [
            [
                "9ed42ed91ea1548a"
            ]
        ],
        "info": "Commented on 17/1/2023\r\nThis is used to refresh the display setpoint whenever new value is inputted"
    },
    {
        "id": "54cf8fb589ef0d4f",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "1f4feebac283c6c9"
            ]
        ]
    },
    {
        "id": "9ed42ed91ea1548a",
        "type": "link out",
        "z": "f56bc6acb992506d",
        "name": "ACT1 TT 2",
        "mode": "link",
        "links": [
            "36557be65ef7b5cf"
        ],
        "x": 955,
        "y": 360,
        "wires": []
    },
    {
        "id": "36557be65ef7b5cf",
        "type": "link in",
        "z": "f56bc6acb992506d",
        "name": "ACT1 TT 1",
        "links": [
            "9ed42ed91ea1548a"
        ],
        "x": 295,
        "y": 220,
        "wires": [
            [
                "54cf8fb589ef0d4f"
            ]
        ]
    },
    {
        "id": "e26f67db00fc388e",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "0a934e3350b374b5",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "a82e09a3accf922d"
            ]
        ]
    },
    {
        "id": "e31ca499472c224c",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "0a934e3350b374b5",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "f46275b3f8e1781d"
            ]
        ]
    },
    {
        "id": "f1caca345c950278",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "0a934e3350b374b5",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 740,
        "wires": [
            [
                "adb6739856124917"
            ]
        ]
    },
    {
        "id": "07513944d4d51276",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "0a934e3350b374b5",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "2858f0e293243a34"
            ]
        ]
    },
    {
        "id": "a82e09a3accf922d",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "f46275b3f8e1781d",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "adb6739856124917",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "2858f0e293243a34",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 920,
        "y": 780,
        "wires": []
    },
    {
        "id": "bfeff3d4fceb0b13",
        "type": "ui_text",
        "z": "f56bc6acb992506d",
        "group": "3bc390d38bd82689",
        "order": 18,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "TT STATUS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 890,
        "y": 820,
        "wires": []
    },
    {
        "id": "2f577a01f96ce847",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "WIRE BREAK",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"WIRE BREAK\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 820,
        "wires": [
            [
                "bfeff3d4fceb0b13"
            ]
        ]
    },
    {
        "id": "e3f5fa21de7a3102",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "HIGH HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 900,
        "wires": [
            [
                "bfeff3d4fceb0b13"
            ]
        ]
    },
    {
        "id": "7b0f9bd5a9c8963e",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 940,
        "wires": [
            [
                "bfeff3d4fceb0b13"
            ]
        ]
    },
    {
        "id": "d939703492bb827c",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 980,
        "wires": [
            [
                "bfeff3d4fceb0b13"
            ]
        ]
    },
    {
        "id": "e416e06befae343f",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "LOW LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "bfeff3d4fceb0b13"
            ]
        ]
    },
    {
        "id": "72624eed871f4f1a",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "OUT OF RANGE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"OUT OF RANGE\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 860,
        "wires": [
            [
                "bfeff3d4fceb0b13"
            ]
        ]
    },
    {
        "id": "ce250d1daf018222",
        "type": "comment",
        "z": "f56bc6acb992506d",
        "name": "ACID TEMPERATURE",
        "info": "",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "1437f291b9a9de49",
        "type": "ui_gauge",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "3bc390d38bd82689",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "ACT1 LT PV",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#11ee11",
            "#11ee11",
            "#11ee11"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 610,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d1467605784978ef",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\n//if sensor wire break or out of range\nif (msg.payload < 0 || msg.payload > 50) \n{\n    msg.payload = \"Error\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1220,
        "wires": [
            [
                "1437f291b9a9de49"
            ]
        ]
    },
    {
        "id": "909213ee86872137",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "ACT1 LT SV (°C)",
        "tooltip": "ACT1 TEMPERATURE SV",
        "group": "3bc390d38bd82689",
        "order": 8,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 1300,
        "wires": [
            [
                "796348c15623fe17"
            ]
        ]
    },
    {
        "id": "1f786dc0cb516734",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_SV",
        "name": "",
        "x": 970,
        "y": 1300,
        "wires": []
    },
    {
        "id": "796348c15623fe17",
        "type": "switch",
        "z": "f56bc6acb992506d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "ACT1_LT_RH",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1300,
        "wires": [
            [
                "02381f36df8679fd"
            ],
            [
                "5d7a706cf54827f2",
                "3387f01616e9941a"
            ]
        ]
    },
    {
        "id": "adab7f130cb8a4c5",
        "type": "ui_toast",
        "z": "f56bc6acb992506d",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 990,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "3387f01616e9941a",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "Warning Pop Up",
        "func": "var RH = global.get(\"ACT1_TT_RH\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value. Insert Between 0 - \" + RH ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1340,
        "wires": [
            [
                "adab7f130cb8a4c5"
            ]
        ]
    },
    {
        "id": "5d7a706cf54827f2",
        "type": "change",
        "z": "f56bc6acb992506d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ACT1_LT_SV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1340,
        "wires": [
            [
                "909213ee86872137"
            ]
        ]
    },
    {
        "id": "02381f36df8679fd",
        "type": "change",
        "z": "f56bc6acb992506d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ACT1_LT_SV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1300,
        "wires": [
            [
                "1f786dc0cb516734"
            ]
        ]
    },
    {
        "id": "d40deddee90f0328",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "Set Max Gauge",
        "func": "global.set(msg.topic, msg.payload);\n\nmsg = \n{\n    ui_control:\n    {\n    max:msg.payload\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "1437f291b9a9de49"
            ]
        ]
    },
    {
        "id": "e2cb10bd8d3c6f2d",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1260,
        "wires": [
            [
                "1437f291b9a9de49"
            ]
        ]
    },
    {
        "id": "c359a30b763ec67e",
        "type": "comment",
        "z": "f56bc6acb992506d",
        "name": "ACID LEVEL",
        "info": "",
        "x": 310,
        "y": 1120,
        "wires": []
    },
    {
        "id": "693552d5830162f1",
        "type": "link in",
        "z": "f56bc6acb992506d",
        "name": "ACT1 LT 1",
        "links": [
            "d3925dbae3c7af6b"
        ],
        "x": 215,
        "y": 1260,
        "wires": [
            [
                "e2cb10bd8d3c6f2d"
            ]
        ]
    },
    {
        "id": "b20711f8138c262d",
        "type": "ui_button",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "3bc390d38bd82689",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "ACT1 LT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "settings",
        "payload": "{\"group\":{\"show\":[\"TANK_ACT1_LT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 1440,
        "wires": [
            [
                "c9313b6a56c55e76"
            ]
        ]
    },
    {
        "id": "c9313b6a56c55e76",
        "type": "ui_ui_control",
        "z": "f56bc6acb992506d",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "936d7c1c6ad64b0d",
        "type": "ui_button",
        "z": "f56bc6acb992506d",
        "name": "",
        "group": "4253e9a4571a0156",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "CLOSE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clear",
        "payload": "{\"group\":{\"hide\":[\"TANK_ACT1_LT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 220,
        "y": 1400,
        "wires": [
            [
                "c9313b6a56c55e76"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "aa0ed9baa0ff311e",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1480,
        "wires": [
            [
                "fe049b3c1007490c",
                "37727a4d1263dd4d"
            ]
        ]
    },
    {
        "id": "4f180a7aa77a2e30",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. H",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1520,
        "wires": [
            [
                "7d9c1db201e9cff5",
                "37727a4d1263dd4d"
            ]
        ]
    },
    {
        "id": "7db4b8c975149bb9",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. L",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1560,
        "wires": [
            [
                "3cd9f7e5d5835f3e",
                "37727a4d1263dd4d"
            ]
        ]
    },
    {
        "id": "43c0faa7af55cf6c",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1600,
        "wires": [
            [
                "9957e75e18f33b52",
                "37727a4d1263dd4d"
            ]
        ]
    },
    {
        "id": "d0f08f274837bfac",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "ACT1 LT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "4253e9a4571a0156",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "71185294c8930bee",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "ACT1 LT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "4253e9a4571a0156",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "cb084280a43e1b9b",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "ACT1 LT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "4253e9a4571a0156",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 140,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "ca95e329e6431d6e",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "ACT1 LT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "4253e9a4571a0156",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 1600,
        "wires": [
            [
                "0118080e57402a9d"
            ]
        ]
    },
    {
        "id": "a953a12169874795",
        "type": "comment",
        "z": "f56bc6acb992506d",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1220,
        "y": 1560,
        "wires": []
    },
    {
        "id": "0118080e57402a9d",
        "type": "switch",
        "z": "f56bc6acb992506d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "ACT1_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1600,
        "wires": [
            [
                "43c0faa7af55cf6c"
            ],
            [
                "69f3dd480303ec97",
                "818ef6cdb8cb78db"
            ]
        ]
    },
    {
        "id": "69f3dd480303ec97",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1640,
        "wires": [
            [
                "860b21fde59a1563"
            ]
        ]
    },
    {
        "id": "818ef6cdb8cb78db",
        "type": "change",
        "z": "f56bc6acb992506d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ACT1_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 1660,
        "wires": [
            [
                "ca95e329e6431d6e"
            ]
        ]
    },
    {
        "id": "860b21fde59a1563",
        "type": "ui_toast",
        "z": "f56bc6acb992506d",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 890,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "fe049b3c1007490c",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 930,
        "y": 1480,
        "wires": []
    },
    {
        "id": "7d9c1db201e9cff5",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 920,
        "y": 1520,
        "wires": []
    },
    {
        "id": "3cd9f7e5d5835f3e",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 920,
        "y": 1560,
        "wires": []
    },
    {
        "id": "9957e75e18f33b52",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 920,
        "y": 1600,
        "wires": []
    },
    {
        "id": "37727a4d1263dd4d",
        "type": "trigger",
        "z": "f56bc6acb992506d",
        "name": "refresh sector",
        "op1": "",
        "op2": "true",
        "op1type": "nul",
        "op2type": "bool",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 800,
        "y": 1400,
        "wires": [
            [
                "d3925dbae3c7af6b"
            ]
        ],
        "info": "Commented on 17/1/2023\r\nThis is used to refresh the display setpoint whenever new value is inputted"
    },
    {
        "id": "d3925dbae3c7af6b",
        "type": "link out",
        "z": "f56bc6acb992506d",
        "name": "ACT1 LT 2",
        "mode": "link",
        "links": [
            "693552d5830162f1"
        ],
        "x": 955,
        "y": 1400,
        "wires": []
    },
    {
        "id": "bff8b45fd0577ef8",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "4253e9a4571a0156",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 1700,
        "wires": [
            [
                "2e75c61f208539b8"
            ]
        ]
    },
    {
        "id": "a18e0f235c89d55e",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "4253e9a4571a0156",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 600,
        "y": 1740,
        "wires": [
            [
                "7dc38b2cc40df6cc"
            ]
        ]
    },
    {
        "id": "43b3d41c4d05bbf6",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "4253e9a4571a0156",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 600,
        "y": 1780,
        "wires": [
            [
                "4016cf4078867277"
            ]
        ]
    },
    {
        "id": "379478fc9105a055",
        "type": "ui_text_input",
        "z": "f56bc6acb992506d",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "4253e9a4571a0156",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 610,
        "y": 1820,
        "wires": [
            [
                "6a8876bf73c79b07"
            ]
        ]
    },
    {
        "id": "2e75c61f208539b8",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 930,
        "y": 1700,
        "wires": []
    },
    {
        "id": "7dc38b2cc40df6cc",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 920,
        "y": 1740,
        "wires": []
    },
    {
        "id": "4016cf4078867277",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 920,
        "y": 1780,
        "wires": []
    },
    {
        "id": "6a8876bf73c79b07",
        "type": "s7 out",
        "z": "f56bc6acb992506d",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 920,
        "y": 1820,
        "wires": []
    },
    {
        "id": "8cf5e10833622635",
        "type": "ui_text",
        "z": "f56bc6acb992506d",
        "group": "3bc390d38bd82689",
        "order": 12,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ACT1 LT STATE",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 900,
        "y": 1860,
        "wires": []
    },
    {
        "id": "b68837023a3e1ca1",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "WIRE BREAK",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"WIRE BREAK\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1860,
        "wires": [
            [
                "8cf5e10833622635"
            ]
        ]
    },
    {
        "id": "8e39f0dbe1d07cbb",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "HIGH HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1940,
        "wires": [
            [
                "8cf5e10833622635"
            ]
        ]
    },
    {
        "id": "f6aec69481ef4e93",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "HIGH ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM HIGH\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1980,
        "wires": [
            [
                "8cf5e10833622635"
            ]
        ]
    },
    {
        "id": "a89b17e3cc18ae24",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 2020,
        "wires": [
            [
                "8cf5e10833622635"
            ]
        ]
    },
    {
        "id": "adf0cc53a8b9ef31",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "LOW LOW ALM",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"ALM LOW LOW\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2060,
        "wires": [
            [
                "8cf5e10833622635"
            ]
        ]
    },
    {
        "id": "77e56107157cb74d",
        "type": "function",
        "z": "f56bc6acb992506d",
        "name": "OUT OF RANGE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"OUT OF RANGE\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 1900,
        "wires": [
            [
                "8cf5e10833622635"
            ]
        ]
    },
    {
        "id": "5bfdfd75.5562a4",
        "type": "inject",
        "z": "2bc02f46.a8e46",
        "name": "Hide",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Tab1_Group_1\"]}}",
        "payloadType": "json",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "476fc34d.bc2a0c"
            ]
        ]
    },
    {
        "id": "476fc34d.bc2a0c",
        "type": "ui_ui_control",
        "z": "2bc02f46.a8e46",
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6ebe218f.c626",
        "type": "inject",
        "z": "2bc02f46.a8e46",
        "name": "Show",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"show\":[\"Tab1_Group_1\"]}}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "476fc34d.bc2a0c"
            ]
        ]
    },
    {
        "id": "f2a787bd.015a88",
        "type": "function",
        "z": "2bc02f46.a8e46",
        "name": "Create payload",
        "func": "msg.payload = {key1:\"Earth\",key2:\"Wind\",key3:\"Fire\", key4:\"Water\", key5:\"Node-RED \"};\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "fa84a230.b0719"
            ]
        ]
    },
    {
        "id": "13c1f4d.609ae0b",
        "type": "inject",
        "z": "2bc02f46.a8e46",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "Start",
        "payloadType": "str",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "f2a787bd.015a88"
            ]
        ]
    },
    {
        "id": "fa84a230.b0719",
        "type": "ui_template",
        "z": "2bc02f46.a8e46",
        "group": "",
        "name": "Text Panel 1",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<style>\n\n    #tex1 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: red;\n    }\n    \n    #tex2 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: lime;\n    }\n    \n    #tex3 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: aqua;\n    }\n    \n    #tex4 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n    #tex5 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: yellow;\n}\n    \n</style>\n\n\n<svg>\n\n\n<text id=\"tex1\" x=\"10\" y=\"10\" > {{msg.payload.key1}} </text>\n<text id=\"tex2\" x=\"10\" y=\"30\" > {{msg.payload.key2}} </text>\n<text id=\"tex3\" x=\"10\" y=\"50\" > {{msg.payload.key3}} </text>\n<text id=\"tex4\" x=\"10\" y=\"70\" > {{msg.payload.key4}} </text>\n<text id=\"tex5\" x=\"10\" y=\"90\" > {{msg.payload.key5}} </text>\n\n\n</svg>\n\n\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    }
]