flow.json
[
    {
        "id": "531e23be5dd8efe8",
        "type": "tab",
        "label": "Oven Burner Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f97ba6bb088d1b36",
        "type": "tab",
        "label": "example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8acee42642b61076",
        "type": "tab",
        "label": "Chart Exercise",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "60463e3a.b7fb4",
        "type": "tab",
        "label": "graph csv",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Grafana on NR",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2f356e8.51d6e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8178b9f6e8586214",
        "type": "s7 endpoint",
        "d": true,
        "transport": "iso-on-tcp",
        "address": "100.0.0.73",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "LINE 3 PLC",
        "vartable": [
            {
                "addr": "DB60,X0.0",
                "name": "PCO_TT_BURNER ENABLE"
            },
            {
                "addr": "DB60,X4.7",
                "name": "PCO_TT_COMMON INTERLOCK"
            },
            {
                "addr": "DB60,X6.4",
                "name": "PCO_TT_TRIP"
            },
            {
                "addr": "DB60,X6.5",
                "name": "PCO_TT_RUN"
            },
            {
                "addr": "DB60,X6.6",
                "name": "PCO_TT_RESET"
            },
            {
                "addr": "DB60,X6.7",
                "name": "PCO_TT_HIGH FIRE"
            },
            {
                "addr": "DB60,X7.0",
                "name": "PCO_TT_LOW FIRE"
            },
            {
                "addr": "DB60,REAL10",
                "name": "PCO_TT_SV"
            },
            {
                "addr": "DB60,INT34",
                "name": "PCO_TT_PID P"
            },
            {
                "addr": "DB60,INT36",
                "name": "PCO_TT_PID I"
            },
            {
                "addr": "DB45,REAL8928",
                "name": "PCO_TT_PV"
            },
            {
                "addr": "DB45,REAL8932",
                "name": "PCO_TT_RH"
            },
            {
                "addr": "DB45,REAL8936",
                "name": "PCO_TT_RL"
            },
            {
                "addr": "DB45,REAL8948",
                "name": "PCO_TT_ALM_SV_HH"
            },
            {
                "addr": "DB45,REAL8952",
                "name": "PCO_TT_ALM_SV_H"
            },
            {
                "addr": "DB45,REAL8956",
                "name": "PCO_TT_ALM_SV_L"
            },
            {
                "addr": "DB45,REAL8960",
                "name": "PCO_TT_ALM_SV_LL"
            },
            {
                "addr": "DB45,REAL8974",
                "name": "PCO_TT_HYS_SV_HH"
            },
            {
                "addr": "DB45,REAL8978",
                "name": "PCO_TT_HYS_SV_H"
            },
            {
                "addr": "DB45,REAL8982",
                "name": "PCO_TT_HYS_SV_L"
            },
            {
                "addr": "DB45,REAL8986",
                "name": "PCO_TT_HYS_SV_LL"
            }
        ]
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "664d663a3ca8c57d",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "64690ecdf7ca17a4",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#928b8b",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "mouse",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "664d663a3ca8c57d",
        "type": "ui_tab",
        "name": "OVEN BURNER",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "182308aa23fdfe0c",
        "type": "ui_group",
        "name": "PCO TT BURNER CONTROL",
        "tab": "664d663a3ca8c57d",
        "order": 3,
        "disp": true,
        "width": "28",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e40e97d4.1356e8",
        "type": "ui_group",
        "name": "Menu",
        "tab": "12c7c5a9.cc3c3a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f2aefa84.a9a108",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "12c7c5a9.cc3c3a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b09937f3.b814f8",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "12c7c5a9.cc3c3a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75944167.0434b",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "12c7c5a9.cc3c3a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "12c7c5a9.cc3c3a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 6
    },
    {
        "id": "d8455bbb4b88ca11",
        "type": "ui_group",
        "name": "PCO TT BURNER INTERLOCK",
        "tab": "664d663a3ca8c57d",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd06276e19088ece",
        "type": "ui_group",
        "name": "LINE SELECTION",
        "tab": "664d663a3ca8c57d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4448716.200ac8",
        "type": "ui_group",
        "name": "LEVEL",
        "tab": "6e01408.cda5dc",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e01408.cda5dc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "track_changes",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf817aa5.c91f38",
        "type": "ui_group",
        "name": "Valor máximo e mínimo registrados",
        "tab": "afeb27be.73ba48",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "afeb27be.73ba48",
        "type": "ui_tab",
        "name": "HC-SR04 - Distância",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "582c9e0d9b66fdb0",
        "type": "ui_tab",
        "name": "Chart",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a192fc2f03a86dda",
        "type": "ui_group",
        "name": "Ex1",
        "tab": "582c9e0d9b66fdb0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ac8e3fa.8b8584",
        "type": "ui_group",
        "name": "Default",
        "tab": "ebb1ed1c.5ebe2",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ebb1ed1c.5ebe2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc4d8303.df87",
        "type": "ui_group",
        "name": "Charts",
        "tab": "18e7297.06310d7",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "18e7297.06310d7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 9
    },
    {
        "id": "2d4fe667.28f8ba",
        "type": "ui_group",
        "name": "demo",
        "tab": "1caa8458.b17814",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "1caa8458.b17814",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7398a6b80bbb57c0",
        "type": "ui_group",
        "name": "Tab1",
        "tab": "81896b925ac877f3",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81896b925ac877f3",
        "type": "ui_tab",
        "name": "Home",
        "icon": "",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bbc3532f.41ca7",
        "type": "ui_group",
        "name": "Grafana",
        "tab": "1ff97cd4.681d5b",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ff97cd4.681d5b",
        "type": "ui_tab",
        "name": "GrafanaTest",
        "icon": "dashboard",
        "order": 10
    },
    {
        "id": "10edf20cd1978f63",
        "type": "ui_group",
        "name": "PCO TT ALARM SETTING",
        "tab": "664d663a3ca8c57d",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dce9e7a2.d20c78",
        "type": "ui_group",
        "name": "Object detection",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "fbf3ac92fc202dfe",
        "type": "ui_group",
        "name": "Linear Vertical",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "3a12888e4343653b",
        "type": "ui_group",
        "name": "Full Round",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "d34a1a5499b12501",
        "type": "ui_group",
        "name": "Half Round",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "4392c40833e9f6ba",
        "type": "ui_group",
        "name": "Linear Horizontal",
        "tab": "",
        "order": 7,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "ca7cc11270e58851",
        "type": "yeelight-compat-hue-config",
        "hostname": "",
        "port": "55443",
        "name": ""
    },
    {
        "id": "985a3531.0ce638",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "dd890cfb.b56fc",
        "order": 1,
        "disp": false,
        "width": 30,
        "collapse": false
    },
    {
        "id": "c3500612.c24038",
        "type": "ui_group",
        "name": "Btn1",
        "tab": "94f74e9f.6a717",
        "order": 1,
        "disp": true,
        "width": "2",
        "collapse": false
    },
    {
        "id": "dd890cfb.b56fc",
        "type": "ui_tab",
        "name": "Samudra LED",
        "icon": "TEST",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b8af8da263b78ce",
        "type": "ui_group",
        "name": "PCO CTT ALARM SETTING",
        "tab": "664d663a3ca8c57d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ed11c7.232e364",
        "type": "ui_group",
        "name": "Dynamic table example",
        "tab": "12628f32.c04c99",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "12628f32.c04c99",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "b42b15c65c79a41b",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "3c4a43cb87a6b4fa",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "1a6a73230e00c124",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "Important Programming Notes",
        "info": "Updated on 12/1/2023\nTo store a memory in NodeRED use global memory to store the value, so that we can call the memory elsewhere within the project.\n\nFunction \nto retrieve the memory use: example-\nglobal.get(var1)\n\nto set the global memory use: example-\nglobal.set(var1,msg.payload);\n\n\n",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "531e23be5dd8efe8",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 120,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fa3e4d121d9191c2",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "This is use to show date and time at header",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "da0691e9d480e047",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "OVEN BURNER",
        "info": "",
        "x": 100,
        "y": 160,
        "wires": []
    },
    {
        "id": "20b29bc734692b17",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_BURNER ENABLE",
        "name": "",
        "x": 500,
        "y": 280,
        "wires": []
    },
    {
        "id": "b268c73d16fb60ca",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "DISABLE",
        "tooltip": "BURNER DISABLE",
        "color": "",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "20b29bc734692b17"
            ]
        ]
    },
    {
        "id": "cfd2b4beb556b27b",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "ENABLE",
        "tooltip": "BURNER ENABLE",
        "color": "",
        "bgcolor": "GREEN",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "20b29bc734692b17"
            ]
        ]
    },
    {
        "id": "752784e40c7b57b2",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "BURNER ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 2180,
        "wires": []
    },
    {
        "id": "73650e755179b3f6",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RUN",
        "diff": true,
        "name": "",
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "279a78e174af41cc"
            ]
        ]
    },
    {
        "id": "279a78e174af41cc",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "RUNNING STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RUNNING\";\n}\nelse\n{\n    msg.payload = \"STOPPED\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2180,
        "wires": [
            [
                "752784e40c7b57b2"
            ]
        ]
    },
    {
        "id": "c9415ea119deeef9",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER MODE",
        "info": "",
        "x": 100,
        "y": 220,
        "wires": []
    },
    {
        "id": "bb1a554c7d2d1d49",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER STATUS",
        "info": "",
        "x": 130,
        "y": 2100,
        "wires": []
    },
    {
        "id": "c49588c318015f84",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 10,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "BURNER RESET",
        "tooltip": "BURNER RESET",
        "color": "",
        "bgcolor": "GREY",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "22e5e509e337e63c"
            ]
        ]
    },
    {
        "id": "63ed38e9034aecec",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_RESET",
        "name": "",
        "x": 590,
        "y": 340,
        "wires": []
    },
    {
        "id": "b852ed5021897352",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "FIRING MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 2220,
        "wires": []
    },
    {
        "id": "2369520784470eb3",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH FIRE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"HIGH FIRE\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2220,
        "wires": [
            [
                "b852ed5021897352"
            ]
        ]
    },
    {
        "id": "48efd630e9caaf74",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "LOW FIRE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"LOW FIRE\";\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2260,
        "wires": [
            [
                "b852ed5021897352"
            ]
        ]
    },
    {
        "id": "4aea625171a70cf8",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_HIGH FIRE",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 2220,
        "wires": [
            [
                "2369520784470eb3"
            ]
        ]
    },
    {
        "id": "d37602e423170d0a",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_LOW FIRE",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 2260,
        "wires": [
            [
                "48efd630e9caaf74"
            ]
        ]
    },
    {
        "id": "22e5e509e337e63c",
        "type": "trigger",
        "z": "531e23be5dd8efe8",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "63ed38e9034aecec"
            ]
        ]
    },
    {
        "id": "8e7d1070c458fd78",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER INTERLOCK",
        "info": "",
        "x": 120,
        "y": 2320,
        "wires": []
    },
    {
        "id": "e67ee8057610ecd1",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "PCO BURNER INTERLOCK",
        "tooltip": "BURNER INTERLOCK",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_BURNER_INTERLOCK\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "bc1d0b076c269dae",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_COMMON INTERLOCK",
        "diff": true,
        "name": "",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "90b41bb1b1e5de0b"
            ]
        ]
    },
    {
        "id": "90b41bb1b1e5de0b",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "BUTTON COLOUR",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RED\";\n}\nelse\n{\n    msg.payload = \"GREY\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 420,
        "wires": [
            [
                "e67ee8057610ecd1"
            ]
        ]
    },
    {
        "id": "30dad1a50e6d4d39",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "d8455bbb4b88ca11",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "HIDE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_BURNER_INTERLOCK\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 2360,
        "wires": [
            [
                "44b53a3d233d9c1f"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "2948310533641581",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 980,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e0d72ea15a1aa37a",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 2_1",
        "links": [
            "44b53a3d233d9c1f"
        ],
        "x": 815,
        "y": 380,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "44b53a3d233d9c1f",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 2_2",
        "mode": "link",
        "links": [
            "e0d72ea15a1aa37a"
        ],
        "x": 215,
        "y": 2360,
        "wires": []
    },
    {
        "id": "03705633eccd0f1e",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 1,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "ESTOP",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "ESTOP",
        "x": 540,
        "y": 2380,
        "wires": []
    },
    {
        "id": "4ebfb17d149b3681",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 2,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "MAIN DRIVE OFF FB",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "MAIN DRIVE OFF FB",
        "x": 580,
        "y": 2420,
        "wires": []
    },
    {
        "id": "4d5a6d9c8d73ed45",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 3,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO TT HH ALARM",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO TT HH ALARM",
        "x": 580,
        "y": 2460,
        "wires": []
    },
    {
        "id": "adaf8abedc53967f",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 4,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO CTT HH ALARM",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO CTT HH ALARM",
        "x": 580,
        "y": 2500,
        "wires": []
    },
    {
        "id": "9ef5d8d312068ee6",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 5,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO BL OFF FB",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO BL OFF FB",
        "x": 570,
        "y": 2540,
        "wires": []
    },
    {
        "id": "18b5a21b8f1b225e",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 6,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO TT WIRE BREAK",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO TT WIRE BREAK",
        "x": 580,
        "y": 2580,
        "wires": []
    },
    {
        "id": "9e7ffcbd2dec6c4b",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_PID P",
        "name": "",
        "x": 440,
        "y": 620,
        "wires": []
    },
    {
        "id": "f197a2abf9d6658c",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_PID I",
        "name": "",
        "x": 440,
        "y": 660,
        "wires": []
    },
    {
        "id": "14f05e24f4a6f77b",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "SET VALUE (°C)",
        "tooltip": "",
        "group": "182308aa23fdfe0c",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "d26a9199a5dfa56e"
            ]
        ]
    },
    {
        "id": "5f18e18d611e4814",
        "type": "ui_gauge",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 2,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "PCO TT PV",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ffff29",
            "#11ee11",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "319589604de509b9",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PID PROPORTIONAL (P)",
        "tooltip": "",
        "group": "182308aa23fdfe0c",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 620,
        "wires": [
            [
                "9e7ffcbd2dec6c4b"
            ]
        ]
    },
    {
        "id": "55fbf2ba885ed060",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PID INTEGRAL (I)",
        "tooltip": "",
        "group": "182308aa23fdfe0c",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "f197a2abf9d6658c"
            ]
        ]
    },
    {
        "id": "682c9829fa8e6469",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_SV",
        "name": "",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "d26a9199a5dfa56e",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_RH",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 460,
        "wires": [
            [
                "f2a1b09e5153f1d5"
            ],
            [
                "fbe858ae85cf2d05",
                "1a1720033abb7d19"
            ]
        ]
    },
    {
        "id": "5f8ada846dc4fadc",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RH",
        "diff": true,
        "name": "",
        "x": 890,
        "y": 880,
        "wires": [
            [
                "0fe103d8a862e9f1"
            ]
        ]
    },
    {
        "id": "0fe103d8a862e9f1",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. RH",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "53843c2059cfa9e6",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1010,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "fbe858ae85cf2d05",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var RH=global.get(\"PCO_TT_RH\");\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value. Insert Between 0 - \" + RH;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 500,
        "wires": [
            [
                "53843c2059cfa9e6"
            ]
        ]
    },
    {
        "id": "88e69eccc8008dde",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_SV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 500,
        "wires": [
            [
                "14f05e24f4a6f77b"
            ]
        ]
    },
    {
        "id": "f2a1b09e5153f1d5",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PCO_TT_SV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "682c9829fa8e6469"
            ]
        ]
    },
    {
        "id": "5fe42aa1f1038ee1",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "Save RH as global memory",
        "info": "",
        "x": 930,
        "y": 820,
        "wires": []
    },
    {
        "id": "b1f77fb70b656ea7",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 1_2",
        "links": [
            "1a1720033abb7d19"
        ],
        "x": 75,
        "y": 500,
        "wires": [
            [
                "88e69eccc8008dde"
            ]
        ]
    },
    {
        "id": "1a1720033abb7d19",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 1_1",
        "mode": "link",
        "links": [
            "b1f77fb70b656ea7"
        ],
        "x": 465,
        "y": 500,
        "wires": []
    },
    {
        "id": "600e782887d15982",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            [
                "5f18e18d611e4814"
            ]
        ]
    },
    {
        "id": "4349615eda7dbdb4",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "OVEN TT PV AND ALARM SETTING",
        "info": "",
        "x": 170,
        "y": 840,
        "wires": []
    },
    {
        "id": "9c3e8781caabaff6",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "PCO TT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "978429571333756f"
            ]
        ]
    },
    {
        "id": "978429571333756f",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "bbfada5e88e72278",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "10edf20cd1978f63",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "HIDE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "8eda9e7cede93ede"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "8eda9e7cede93ede",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_2",
        "mode": "link",
        "links": [
            "35ef7bf729d0c410"
        ],
        "x": 645,
        "y": 1040,
        "wires": []
    },
    {
        "id": "35ef7bf729d0c410",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_1",
        "links": [
            "8eda9e7cede93ede"
        ],
        "x": 295,
        "y": 1000,
        "wires": [
            [
                "978429571333756f"
            ]
        ]
    },
    {
        "id": "c160bd9a71a0face",
        "type": "random",
        "z": "531e23be5dd8efe8",
        "name": "",
        "low": 1,
        "high": "200",
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 960,
        "wires": [
            [
                "5a76a7e40f4c0227"
            ]
        ]
    },
    {
        "id": "5d55666e578f0292",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(\"PCO_TT_HH\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "a4941b01d1463972"
            ]
        ]
    },
    {
        "id": "a3dad1aac0366692",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. H",
        "func": "global.set(\"PCO_TT_H\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1120,
        "wires": [
            [
                "080d9396ee98e37f"
            ]
        ]
    },
    {
        "id": "b325fc4722598793",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. L",
        "func": "global.set(\"PCO_TT_L\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "d4aca6a0cc6e8843"
            ]
        ]
    },
    {
        "id": "5d9d1656276b2b2a",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(\"PCO_TT_LL\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "beb54117bf1798f5"
            ]
        ]
    },
    {
        "id": "34d73c82abb763a1",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "c160bd9a71a0face"
            ]
        ]
    },
    {
        "id": "03c7c082244cd929",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "10edf20cd1978f63",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "5d55666e578f0292"
            ]
        ]
    },
    {
        "id": "5a76a7e40f4c0227",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 880,
        "wires": [
            [
                "5f18e18d611e4814"
            ]
        ]
    },
    {
        "id": "8dbd51a75553cf33",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PCO_TT_RH",
        "payload": "200",
        "payloadType": "num",
        "x": 920,
        "y": 960,
        "wires": [
            [
                "0fe103d8a862e9f1"
            ]
        ]
    },
    {
        "id": "966ecf63762dd5b2",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "10edf20cd1978f63",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "a3dad1aac0366692"
            ]
        ]
    },
    {
        "id": "b2861a41ae1798cd",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "10edf20cd1978f63",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "b325fc4722598793"
            ]
        ]
    },
    {
        "id": "c192b063d1d4b584",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "10edf20cd1978f63",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "c77bcd4eb9852cc6"
            ]
        ]
    },
    {
        "id": "75a35e32e764a142",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "a8b5db4f093911a3",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1200,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c77bcd4eb9852cc6",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "5d9d1656276b2b2a"
            ],
            [
                "a53bca32c6f8c552",
                "0823d840ca35b35a"
            ]
        ]
    },
    {
        "id": "a53bca32c6f8c552",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1240,
        "wires": [
            [
                "2cf33973122a7933"
            ]
        ]
    },
    {
        "id": "0823d840ca35b35a",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "c192b063d1d4b584"
            ]
        ]
    },
    {
        "id": "2cf33973122a7933",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7d7d4c1e2e752f",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "10edf20cd1978f63",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "4a0aaab9c13298b5"
            ]
        ]
    },
    {
        "id": "af42b669f2c3614e",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "10edf20cd1978f63",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1340,
        "wires": [
            [
                "151c5a2ca00f1aa5"
            ]
        ]
    },
    {
        "id": "d00ac4e49d17989e",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "10edf20cd1978f63",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1380,
        "wires": [
            [
                "e479f08610a4762e"
            ]
        ]
    },
    {
        "id": "989bf8a02646fdf6",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "10edf20cd1978f63",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "344b5c39186b78ef"
            ]
        ]
    },
    {
        "id": "a4941b01d1463972",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 910,
        "y": 1080,
        "wires": []
    },
    {
        "id": "080d9396ee98e37f",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 900,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d4aca6a0cc6e8843",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "beb54117bf1798f5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 900,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4a0aaab9c13298b5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 910,
        "y": 1300,
        "wires": []
    },
    {
        "id": "151c5a2ca00f1aa5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 900,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e479f08610a4762e",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 900,
        "y": 1380,
        "wires": []
    },
    {
        "id": "344b5c39186b78ef",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 900,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8bac12e9c6b17c1c",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "5a76a7e40f4c0227"
            ]
        ]
    },
    {
        "id": "df003c1f6e2d5ccc",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 110,
        "y": 920,
        "wires": []
    },
    {
        "id": "76350c560ff81ad9",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "CHAMBER TT PV AND ALARM SETTING",
        "info": "",
        "x": 180,
        "y": 1480,
        "wires": []
    },
    {
        "id": "3c3db064774ea81a",
        "type": "ui_gauge",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 4,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "PCO CTT PV",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ffff29",
            "#11ee11",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 680,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f0a1a51dd3837d8f",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1480,
        "wires": [
            [
                "3c3db064774ea81a"
            ]
        ]
    },
    {
        "id": "5952011739991237",
        "type": "random",
        "z": "531e23be5dd8efe8",
        "name": "",
        "low": 1,
        "high": "200",
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 1600,
        "wires": [
            [
                "82d6079b592d68db"
            ]
        ]
    },
    {
        "id": "0d6f65f2300bf31c",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1600,
        "wires": [
            [
                "5952011739991237"
            ]
        ]
    },
    {
        "id": "82d6079b592d68db",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1520,
        "wires": [
            [
                "3c3db064774ea81a"
            ]
        ]
    },
    {
        "id": "de342819ee517eb1",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 110,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ca0e27c8d7c14603",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "CHAMBER TT PV AND ALARM SETTING",
        "info": "",
        "x": 1100,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6881e3e5.30927c",
        "type": "ui_template",
        "z": "531e23be5dd8efe8",
        "group": "c3500612.c24038",
        "name": "Custom Text Input Dashoard size",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style id='custom-styles'>\n    .nr-dashboard-theme .nr-dashboard-textinput input {\n        border-color: #eeeeee;\n        color: #eeeeee;\n        border-bottom-width: 1px;\n        font-family: inherit;\n        padding-left: 5px;\n        font-size: 20px;\n        height: 35px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3546c391b94fca8c",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "PCO CTT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_CTT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1680,
        "wires": [
            [
                "0fcbdf73762289cc"
            ]
        ]
    },
    {
        "id": "0fcbdf73762289cc",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "ee07e323067328ab",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "7b8af8da263b78ce",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "HIDE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_CTT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1680,
        "wires": [
            [
                "baabce67e4ff11d6"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "baabce67e4ff11d6",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_2",
        "mode": "link",
        "links": [
            "5b994a286ae299dd"
        ],
        "x": 645,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5b994a286ae299dd",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_1",
        "links": [
            "baabce67e4ff11d6"
        ],
        "x": 295,
        "y": 1640,
        "wires": [
            [
                "0fcbdf73762289cc"
            ]
        ]
    },
    {
        "id": "158116ad7511f292",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(\"PCO_TT_HH\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1720,
        "wires": [
            [
                "828388826c80204a"
            ]
        ]
    },
    {
        "id": "e81e4bb848bee964",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. H",
        "func": "global.set(\"PCO_TT_H\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1760,
        "wires": [
            [
                "5e51f2d1e2782f7b"
            ]
        ]
    },
    {
        "id": "a47a40cea17f73c8",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. L",
        "func": "global.set(\"PCO_TT_L\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1800,
        "wires": [
            [
                "f3272deed5690f4e"
            ]
        ]
    },
    {
        "id": "264e9ba31b1a1a08",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(\"PCO_TT_LL\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1840,
        "wires": [
            [
                "4a729a04281d1c91"
            ]
        ]
    },
    {
        "id": "0e96737e89478b97",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "7b8af8da263b78ce",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "158116ad7511f292"
            ]
        ]
    },
    {
        "id": "2f03e3b4cd95e14c",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "7b8af8da263b78ce",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1760,
        "wires": [
            [
                "e81e4bb848bee964"
            ]
        ]
    },
    {
        "id": "d8e97ab737823949",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "7b8af8da263b78ce",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "a47a40cea17f73c8"
            ]
        ]
    },
    {
        "id": "6324927c0420d414",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "7b8af8da263b78ce",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1840,
        "wires": [
            [
                "ba469e8a679d5d06"
            ]
        ]
    },
    {
        "id": "f48fd1bcfb4cbcaa",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1200,
        "y": 1800,
        "wires": []
    },
    {
        "id": "ba469e8a679d5d06",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1840,
        "wires": [
            [
                "264e9ba31b1a1a08"
            ],
            [
                "5033efeb421c8297",
                "398dfa9588a2a8fc"
            ]
        ]
    },
    {
        "id": "5033efeb421c8297",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1880,
        "wires": [
            [
                "a3cfbb28c58de19f"
            ]
        ]
    },
    {
        "id": "398dfa9588a2a8fc",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "6324927c0420d414"
            ]
        ]
    },
    {
        "id": "a3cfbb28c58de19f",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "b4275d9df25cebec",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "7b8af8da263b78ce",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1940,
        "wires": [
            [
                "f31dc77a48c47967"
            ]
        ]
    },
    {
        "id": "83203e9e9535e55a",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "7b8af8da263b78ce",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1980,
        "wires": [
            [
                "0599f6ad88a2e88d"
            ]
        ]
    },
    {
        "id": "a89672aa0d126d90",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "7b8af8da263b78ce",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2020,
        "wires": [
            [
                "104e236f96102db2"
            ]
        ]
    },
    {
        "id": "490d5427cea74815",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "7b8af8da263b78ce",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 2060,
        "wires": [
            [
                "4dd0f93955cc3f47"
            ]
        ]
    },
    {
        "id": "828388826c80204a",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 910,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5e51f2d1e2782f7b",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 900,
        "y": 1760,
        "wires": []
    },
    {
        "id": "f3272deed5690f4e",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 900,
        "y": 1800,
        "wires": []
    },
    {
        "id": "4a729a04281d1c91",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 900,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f31dc77a48c47967",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 910,
        "y": 1940,
        "wires": []
    },
    {
        "id": "0599f6ad88a2e88d",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 900,
        "y": 1980,
        "wires": []
    },
    {
        "id": "104e236f96102db2",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 900,
        "y": 2020,
        "wires": []
    },
    {
        "id": "4dd0f93955cc3f47",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 900,
        "y": 2060,
        "wires": []
    },
    {
        "id": "2a970d2dc3ec18d4",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 110,
        "y": 1520,
        "wires": [
            [
                "82d6079b592d68db"
            ]
        ]
    },
    {
        "id": "6f575a0032279ca4",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "97193e33283b9c72",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "526abb34eb32c7d8",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3c9979029c65c653",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d5d6541c0deb33",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e4727a01ffa7c82f",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ff62f24ebff5e77",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "380d0a8e103594e0",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0ca55c6e758e523e",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "40847de8f11a8bc9",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "135d81ece4e28f3e",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2786d8111c8d80ec",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "870a1c33da2a27d6",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fa4928d668b1c910",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ce88938869e85881",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "3805708ab8962548",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "e40e97d4.1356e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Group_2\",\"Home_Group_3\"],\"show\":[\"Home_Group_1\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "7b397a3453cf8923"
            ]
        ]
    },
    {
        "id": "d388c765f5757f31",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "e40e97d4.1356e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button2",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Group_1\",\"Home_Group_3\"],\"show\":[\"Home_Group_2\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "7b397a3453cf8923"
            ]
        ]
    },
    {
        "id": "e25abf38f669c94e",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "e40e97d4.1356e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button3",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Group_1\",\"Home_Group_2\"],\"show\":[\"Home_Group_3\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "7b397a3453cf8923"
            ]
        ]
    },
    {
        "id": "d8d35174fb61ef69",
        "type": "ui_gauge",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f2aefa84.a9a108",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "43844d7b72700366",
        "type": "ui_template",
        "z": "f97ba6bb088d1b36",
        "group": "b09937f3.b814f8",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "3",
        "format": "This is the start group.<br/>\nPress button 2 to move to the next group.<br/>\nThen slide the slider.",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 820,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7e4f09781908dffa",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "75944167.0434b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Group_2\",\"Home_Group_3\"],\"show\":[\"Home_Group_1\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "7b397a3453cf8923"
            ]
        ]
    },
    {
        "id": "7b397a3453cf8923",
        "type": "ui_ui_control",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "x": 600,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "462aefb984fa3c3d",
        "type": "ui_slider",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "f2aefa84.a9a108",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "d8d35174fb61ef69",
                "6c0085598e4f8f87"
            ]
        ]
    },
    {
        "id": "db79a4c1470df53a",
        "type": "ui_template",
        "z": "f97ba6bb088d1b36",
        "group": "75944167.0434b",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "3",
        "format": "Slider reached > 7 = Passed</br>\nHit Reset to go back to stage 1</br>\nOr wait 10 seconds.",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 820,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6c0085598e4f8f87",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "func": "if (msg.payload > 7)\n{\n    m2 = {payload : 0};\n    msg.payload = {\"group\":{\"hide\":[\"Home_Group_1\",\"Home_Group_2\"],\"show\":[\"Home_Group_3\"]}};\n    return [ m2, msg];\n}\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "462aefb984fa3c3d",
                "d8d35174fb61ef69"
            ],
            [
                "eb0d8ed37914d710"
            ]
        ]
    },
    {
        "id": "d58a80f9ea463cbe",
        "type": "inject",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Group_2\",\"Home_Group_3\"],\"show\":[\"Home_Group_1\"]}}",
        "payloadType": "json",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "7b397a3453cf8923"
            ]
        ]
    },
    {
        "id": "eb0d8ed37914d710",
        "type": "trigger",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "op1": "",
        "op2": "{\"group\":{\"hide\":[\"Home_Group_2\",\"Home_Group_3\"],\"show\":[\"Home_Group_1\"]}}",
        "op1type": "pay",
        "op2type": "json",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "7b397a3453cf8923"
            ]
        ]
    },
    {
        "id": "4ea9aa3e3f9c0d47",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "Example of Hiding Group at Dashboard",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "85de7d2a.d10f5",
        "type": "ui_slider",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "a4448716.200ac8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": "-5",
        "max": 10,
        "step": "0.1",
        "className": "",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "d58bdaf1.d93048"
            ]
        ]
    },
    {
        "id": "d58bdaf1.d93048",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "prepare",
        "func": "var last = context.get('last') || 'under'\nvar threshold = 0\nvar undermessage = {topic:'under',payload:null}\nvar overmessage = {topic:'over',payload:null}\nvar unsentmessage = null\n\nif(msg.payload > threshold){\n    if(last == 'under'){\n        undermessage.payload = threshold\n        overmessage.payload = threshold\n        unsentmessage = msg\n    }\n    else{\n        overmessage.payload = msg.payload\n    }\n    last = 'over'\n}\nelse{\n    if(last == 'over'){\n        overmessage.payload = threshold\n        undermessage.payload = threshold\n        unsentmessage = msg\n    }\n    else{\n        undermessage.payload = msg.payload\n    }\n    last = 'under'\n}\ncontext.set('last',last)\n\nreturn [[overmessage,undermessage],unsentmessage]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 680,
        "wires": [
            [
                "277cf5b5.1c633a",
                "e67178c2da95622d"
            ],
            [
                "3679a19c.ac113e",
                "e67178c2da95622d"
            ]
        ]
    },
    {
        "id": "277cf5b5.1c633a",
        "type": "ui_chart",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "a4448716.200ac8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-5",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "125535f9.c93eca",
        "type": "inject",
        "z": "f97ba6bb088d1b36",
        "name": "Clear chart",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 720,
        "y": 480,
        "wires": [
            [
                "277cf5b5.1c633a"
            ]
        ]
    },
    {
        "id": "3679a19c.ac113e",
        "type": "delay",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 900,
        "wires": [
            [
                "d58bdaf1.d93048"
            ]
        ]
    },
    {
        "id": "e67178c2da95622d",
        "type": "debug",
        "z": "f97ba6bb088d1b36",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 780,
        "wires": []
    },
    {
        "id": "8a137bbe.92b958",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "max",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1360,
        "wires": [
            [
                "4b392913.b6cd48"
            ]
        ]
    },
    {
        "id": "a638cb2f.c87ac8",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "cf817aa5.c91f38",
        "order": 5,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Reset - Maximum value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "-0",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 350,
        "y": 1300,
        "wires": [
            [
                "8a137bbe.92b958"
            ]
        ]
    },
    {
        "id": "a14d793c.ec4b88",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "cf817aa5.c91f38",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Max Value",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 890,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3d26ea37.f552b6",
        "type": "switch",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "max",
                "vt": "flow"
            },
            {
                "t": "lt",
                "v": "min",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1400,
        "wires": [
            [
                "8a137bbe.92b958"
            ],
            [
                "1377db47.ec6675"
            ]
        ]
    },
    {
        "id": "4b392913.b6cd48",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "func": "if(msg.payload == -1)\n{\n msg.payload = \"-\"\n}else\n{\n msg.payload = msg.payload + \" cm \"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1360,
        "wires": [
            [
                "a14d793c.ec4b88",
                "17c6fe5d.7c1092"
            ]
        ]
    },
    {
        "id": "8d7fc11.652a84",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "Composição data/hora",
        "func": "var a = \"(\"+msg.mydom+\"/\"+msg.mymonthn+\"/\"+msg.myyear+ \" - \" +msg.mytimes+\")\";\nmsg.payload = a;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 1280,
        "wires": [
            [
                "57f633dc.17b0fc"
            ]
        ]
    },
    {
        "id": "57f633dc.17b0fc",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "cf817aa5.c91f38",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "Max Hour",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1180,
        "y": 1380,
        "wires": []
    },
    {
        "id": "1377db47.ec6675",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "min",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1440,
        "wires": [
            [
                "d99940c4.a82bf"
            ]
        ]
    },
    {
        "id": "9e8de5b.9ed3318",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "cf817aa5.c91f38",
        "order": 6,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Reset - Minimum Value",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 330,
        "y": 1500,
        "wires": [
            [
                "1377db47.ec6675"
            ]
        ]
    },
    {
        "id": "d99940c4.a82bf",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "func": "if(msg.payload == 1000)\n{\n msg.payload = \"-\"\n}else\n{\n msg.payload = msg.payload + \" cm \"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1440,
        "wires": [
            [
                "105c2154.24f3cf",
                "366a70a1.6a146"
            ]
        ]
    },
    {
        "id": "105c2154.24f3cf",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "cf817aa5.c91f38",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "valor min",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 920,
        "y": 1440,
        "wires": []
    },
    {
        "id": "df36bba2.63e798",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "Composição data/hora",
        "func": "var a = \"(\"+msg.mydom+\"/\"+msg.mymonthn+\"/\"+msg.myyear+ \" - \" +msg.mytimes+\")\";\nmsg.payload = a;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 1580,
        "wires": [
            [
                "d0f47e73.808f5"
            ]
        ]
    },
    {
        "id": "d0f47e73.808f5",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "cf817aa5.c91f38",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "Min Hour",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1220,
        "y": 1460,
        "wires": []
    },
    {
        "id": "edf76319.1dc86",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "func": "\nmsg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 1400,
        "wires": [
            [
                "3d26ea37.f552b6"
            ]
        ]
    },
    {
        "id": "17c6fe5d.7c1092",
        "type": "simpletime",
        "z": "f97ba6bb088d1b36",
        "name": "Data/hora",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 880,
        "y": 1240,
        "wires": [
            [
                "8d7fc11.652a84"
            ]
        ]
    },
    {
        "id": "366a70a1.6a146",
        "type": "simpletime",
        "z": "f97ba6bb088d1b36",
        "name": "Data/hora",
        "x": 840,
        "y": 1560,
        "wires": [
            [
                "df36bba2.63e798"
            ]
        ]
    },
    {
        "id": "f6087883345fb7ed",
        "type": "ui_numeric",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "cf817aa5.c91f38",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "20000",
        "step": "100",
        "className": "",
        "x": 100,
        "y": 1400,
        "wires": [
            [
                "edf76319.1dc86"
            ]
        ]
    },
    {
        "id": "ad81dab3bbc3b5bc",
        "type": "inject",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 90,
        "y": 1500,
        "wires": [
            [
                "edf76319.1dc86",
                "f6087883345fb7ed"
            ]
        ]
    },
    {
        "id": "5c4c5120.bb035",
        "type": "ui_gauge",
        "z": "f97ba6bb088d1b36",
        "d": true,
        "name": "",
        "group": "a4448716.200ac8",
        "order": 13,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1390,
        "y": 100,
        "wires": []
    },
    {
        "id": "b26a6748.70f428",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "options",
        "func": "msg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color : \"#009900\",\n    lo : 0,\n    hi : 2\n  },{\n    color : \"#33cccc\",\n    lo : 2.1,\n    hi : 4\n  },{\n    color : \"#3366ff\",\n    lo : 4.1,\n    hi : 6\n  },{\n    color : \"#ff00ff\",\n    lo : 6.1,\n    hi : 8\n  },{\n    color : \"#ff0000\",\n    lo : 8.1,\n    hi : 10\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 180,
        "wires": [
            [
                "5c4c5120.bb035"
            ]
        ]
    },
    {
        "id": "ef9011e5.8e00d",
        "type": "ui_slider",
        "z": "f97ba6bb088d1b36",
        "d": true,
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "a4448716.200ac8",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 10,
        "step": "2",
        "className": "",
        "x": 1050,
        "y": 100,
        "wires": [
            [
                "5c4c5120.bb035"
            ]
        ]
    },
    {
        "id": "3a76c83429c088fb",
        "type": "inject",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "b26a6748.70f428"
            ]
        ]
    },
    {
        "id": "11c425e769adb2d7",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "option for 5 colour gauge",
        "info": "",
        "x": 1110,
        "y": 60,
        "wires": []
    },
    {
        "id": "69c27e08bfe7f57c",
        "type": "function",
        "z": "8acee42642b61076",
        "name": "graph generate",
        "func": "\n//declare variable for the Graph value\n//can be any value\nvar data=context.get(\"data\")||[];\n\nif(typeof data[0]==\"undefined\"|| msg.topic == \"clear\")\n{\n    data[0] =0; \n    msg.payload = [];\n}\nelse\n\n data[0] +=1;\nmsg.payload = {topic: \"temperature\", payload: data[0] };\n context.set(\"data\",data);\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 260,
        "wires": [
            [
                "9e0164d9c53f66e0"
            ]
        ]
    },
    {
        "id": "9e0164d9c53f66e0",
        "type": "ui_chart",
        "z": "8acee42642b61076",
        "name": "",
        "group": "a192fc2f03a86dda",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "64897a9beca04581",
        "type": "inject",
        "z": "8acee42642b61076",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "site1",
        "payload": "1",
        "payloadType": "num",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "69c27e08bfe7f57c"
            ]
        ]
    },
    {
        "id": "fd6a782f.8607a8",
        "type": "inject",
        "z": "60463e3a.b7fb4",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "start",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "f6d3c9af.1c6d18"
            ]
        ]
    },
    {
        "id": "ff0ba1e2.f46ab",
        "type": "ui_chart",
        "z": "60463e3a.b7fb4",
        "name": "",
        "group": "2ac8e3fa.8b8584",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 590,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2466e014.fe459",
        "type": "debug",
        "z": "60463e3a.b7fb4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "f6d3c9af.1c6d18",
        "type": "file in",
        "z": "60463e3a.b7fb4",
        "name": "",
        "filename": "example.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "3d784d1.a733332",
                "2466e014.fe459"
            ]
        ]
    },
    {
        "id": "3d784d1.a733332",
        "type": "csv",
        "z": "60463e3a.b7fb4",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "f3d8e5f0.29d548",
                "2466e014.fe459"
            ]
        ]
    },
    {
        "id": "f3d8e5f0.29d548",
        "type": "function",
        "z": "60463e3a.b7fb4",
        "name": "graph generate",
        "func": "\nfunction toTimestamp(strDate){\n     var datum = Date.parse(strDate);\n     return datum/1000;\n    }\nvar payload=msg.payload;\n\n\nvar data_out=[];\nvar a1=[];\nvar a2=[];\nvar a3=[];\nvar a4=[];\nfor(let i=0;i<payload.length;i++)\n{\n  \nvar Data= payload[i].Data.split(\"-\");\nvar t=Data[2]+\"/\"+Data[1]+\"/\"+Data[0];\nvar timestamp=toTimestamp(t+\" \"+payload[i][\"Godzina\"]);\n\n\nvar temp1={ \"x\": timestamp, \"y\":parseInt( payload[i][\"Temp_RS-485\"]) };\nvar temp2={ \"x\": timestamp, \"y\":parseInt( payload[i][\"Wilg_RS-485\"]) };\nvar temp3={ \"x\": timestamp, \"y\": parseInt(payload[i][\"Temperatura I\"])};\nvar temp4={\"x\": timestamp, \"y\": parseInt(payload[i][\"Wilgotność I\"])};\n\na1.push(temp1);\na2.push(temp2);\na3.push(temp3);\na4.push(temp4);\n \n \n //\n \n \n}\n\ndata_out=[a1,a2,a3,a4];\nmsg.payload=[{\n\"series\": [\"Temp_RS-485\",\"Wilg_RS-485\",\"Temperatura I\",\"Wilgotność I\"],\n\"data\":data_out,\n\"labels\": [\"Temp_RS-485\",\"Wilg_RS-485\",\"Temperatura I\",\"Wilgotność I\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            [
                "2466e014.fe459",
                "ff0ba1e2.f46ab"
            ]
        ]
    },
    {
        "id": "de8150aa.71733",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SetTimeRange",
        "func": "msg.fromdate=msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 200,
        "wires": [
            [
                "aeaaadf4.7dcb",
                "9d22cca6.a6c168"
            ]
        ]
    },
    {
        "id": "14f5cd67.1fbd6b",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "bbc3532f.41ca7",
        "name": "Line Chart",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<html>\n<iframe id=\"myFrame\" width=\"600px\" height=\"300px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1090,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "aeaaadf4.7dcb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "BuildTemplate",
        "func": "//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\nlet panelid=4\n\nmsg.payload = \"http://localhost:3000/d-solo/1qgAQ874k/test-dash?orgId=1\"+\n\"&refresh=1m\"+\n\"&theme=light\"+\n\"&from=\"+ msg.fromdate +\n\"&to=now&panelId=\"+panelid\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 180,
        "wires": [
            [
                "14f5cd67.1fbd6b"
            ]
        ]
    },
    {
        "id": "4769fee0.9701d8",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "bbc3532f.41ca7",
        "name": "Numbers",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<html>\n<iframe id=\"myFrame2\" width=\"600px\" height=\"300px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('myFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9d22cca6.a6c168",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "BuildTemplate",
        "func": "//NOTE, more then one chart on a page, rename in the second and following \n//templates the \"myframe\" variable so that every template has a unique name.\n\nlet panelid=2\n\nmsg.payload = \"http://localhost:3000/d-solo/1qgAQ874k/test-dash?orgId=1\"+\n\"&refresh=1m\"+\n\"&theme=dark\"+\n\"&from=\"+ msg.fromdate +\n\"&to=\"+ msg.enddate +\n\"&panelId=\"+panelid\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 240,
        "wires": [
            [
                "4769fee0.9701d8"
            ]
        ]
    },
    {
        "id": "a9fb70d370f4f6f1",
        "type": "ui_dropdown",
        "z": "f6f2187d.f17ca8",
        "name": "Range Dropdown",
        "label": "Interval",
        "tooltip": "",
        "place": "Select Interval",
        "group": "bbc3532f.41ca7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "7 D",
                "value": "now-7d",
                "type": "str"
            },
            {
                "label": "14 D",
                "value": "now-14d",
                "type": "str"
            },
            {
                "label": "20 D",
                "value": "now-20d",
                "type": "str"
            },
            {
                "label": "30 D",
                "value": "now-30d",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "de8150aa.71733"
            ]
        ]
    },
    {
        "id": "b372fba84ebeb01e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Trigger on start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "now-14d",
        "payloadType": "str",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "a9fb70d370f4f6f1"
            ]
        ]
    },
    {
        "id": "afb44ebd.9f5c88",
        "type": "delay",
        "z": "d2f356e8.51d6e8",
        "name": "replicate on other displays",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 470,
        "y": 340,
        "wires": [
            [
                "8cfe7bc7.f574e8"
            ]
        ]
    },
    {
        "id": "8cfe7bc7.f574e8",
        "type": "ui_template",
        "z": "d2f356e8.51d6e8",
        "group": "1ed11c7.232e364",
        "name": "Interval list",
        "order": 5,
        "width": "0",
        "height": "0",
        "format": "<script>\n(function(scope) {\n    scope.startH = 0;\n    scope.startM = 0;\n    scope.duration = 45;\n    scope.valve1 = 1;\n    scope.valve2 = 0;\n    scope.intervals = [];\n\n    scope.$watch('msg', function(msg){\n        if (msg) {\n            if (msg.payload) {\n                scope.intervals = msg.payload;\n                // Force repaint to adjust to table height\n                $(\"#tblIntervals\").parent().css(\"height\",\"\");\n            }\n        }\n    } );\n    \n    scope.valveList = function(valves) {\n        for (var arValves=[], i=0; 1<<i <= valves; i++) { if (valves & 1<<i) arValves.push(i+1); }\n        return arValves.join(\"+\");\n    }\n\n    scope.add = function() {\n        scope.intervals.push({\n            startH : scope.startH,\n            startM : scope.startM,\n            duration : scope.duration,\n            valve : scope.valve1 + scope.valve2\n        });\n        $(\"#tblIntervals\").parent().css(\"height\",\"\");\n        scope.intervals.sort(function(a,b){return a.startH*60+a.startM-b.startH*60-b.startM})\n        scope.send({payload:scope.intervals});\n    };\n\n    scope.remove = function(row) {\n        var removed = scope.intervals.splice(scope.intervals.indexOf(row),1);\n        $(\"#tblIntervals\").parent().css(\"height\",\"\");\n        scope.startH = removed[0].startH;\n        scope.startM = removed[0].startM;\n        scope.duration = removed[0].duration;\n        scope.valve1 = (removed[0].valve & 1);\n        scope.valve2 = (removed[0].valve & 2);\n        scope.send({payload:scope.intervals});\n    }\n})(scope)\n</script>\n\n<style>\ntable.intervals {\n    border-collapse: collapse;\n    width: 100%;\n}\ntable.intervals td, table.intervals th {\n    border: 1px solid #555;\n    padding: 1px;\n}\ntable.intervals tr:nth-child(odd) { background-color: #555; }\ntable.intervals tr:hover {background-color: #888;}\n</style>\n\n<div style=\"\">\n    <p class=\"nr-dashboard-cardtitle\">Add new interval</p>\n    <table>\n        <tr>\n            <td>Start:</td>\n            <td>\n                <input type=number min=0 max=23 style=\"width:35px\" ng-model=\"startH\">:<input type=number min=0 max=59 style=\"width:35px\" ng-model=\"startM\">\n            </td>\n        </tr>\n        <tr>\n            <td>Duration:</td>\n            <td><input type=number min=1 style=\"width:50px;\" ng-model=\"duration\"> s</td>\n        </tr>\n        <tr>\n            <td>Valve</td>\n            <td>\n                <input id=\"chkValve1\" type=\"checkbox\" ng-model=\"valve1\" ng-true-value=1 ng-false-value=0><label for=\"chkValve1\">1</label>\n                <input id=\"chkValve2\" type=\"checkbox\" ng-model=\"valve2\" ng-true-value=2 ng-false-value=0><label for=\"chkValve2\">2</label>\n            </td>\n        </tr>\n        <tr>\n            <td colspan=2><md-button ng-click=\"add()\">Add</md-button></td>\n        </tr>\n    </table>\n</div>\n\n<div id=\"tblIntervals\">\n    <p class=\"nr-dashboard-cardtitle\">Time Intervals</p>\n    <table class=\"intervals\">\n        <tr>\n            <td>Start</td>\n            <td>Durat.</td>\n            <td colspan=2>Valve</td>\n        </tr>\n        <tr ng-repeat=\"i in intervals\">\n            <td>{{i.startH}}:{{(\"0\"+i.startM).slice(-2)}}</td>\n            <td align=\"right\" style=\"padding-left:0px; padding-right:10px;\">{{i.duration}} s</td>\n            <td align=\"center\">{{valveList(i.valve)}}</td>\n            <td style=\"cursor:pointer;\" ng-click=\"remove(i)\" title=\"Remove\">&times;</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "afb44ebd.9f5c88"
            ]
        ]
    },
    {
        "id": "3a6318aa.8adf98",
        "type": "inject",
        "z": "d2f356e8.51d6e8",
        "name": "init",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "810e4ac0.2f53d"
            ]
        ]
    },
    {
        "id": "810e4ac0.2f53d",
        "type": "change",
        "z": "d2f356e8.51d6e8",
        "name": "set sample data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[{\"startH\":7,\"startM\":0,\"duration\":45,\"valve\":1}]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "8cfe7bc7.f574e8"
            ]
        ]
    }
]