flow.json
[
    {
        "id": "531e23be5dd8efe8",
        "type": "tab",
        "label": "Oven Burner Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f97ba6bb088d1b36",
        "type": "tab",
        "label": "Motor Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2bc02f46.a8e46",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8178b9f6e8586214",
        "type": "s7 endpoint",
        "d": true,
        "transport": "iso-on-tcp",
        "address": "100.0.0.73",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "LINE 3 PLC",
        "vartable": [
            {
                "addr": "DB60,X0.0",
                "name": "PCO_TT_BURNER ENABLE"
            },
            {
                "addr": "DB60,X4.7",
                "name": "PCO_TT_COMMON INTERLOCK"
            },
            {
                "addr": "DB60,X6.4",
                "name": "PCO_TT_TRIP"
            },
            {
                "addr": "DB60,X6.5",
                "name": "PCO_TT_RUN"
            },
            {
                "addr": "DB60,X6.6",
                "name": "PCO_TT_RESET"
            },
            {
                "addr": "DB60,X6.7",
                "name": "PCO_TT_HIGH FIRE"
            },
            {
                "addr": "DB60,X7.0",
                "name": "PCO_TT_LOW FIRE"
            },
            {
                "addr": "DB60,REAL10",
                "name": "PCO_TT_SV"
            },
            {
                "addr": "DB60,INT34",
                "name": "PCO_TT_PID P"
            },
            {
                "addr": "DB60,INT36",
                "name": "PCO_TT_PID I"
            },
            {
                "addr": "DB45,REAL8928",
                "name": "PCO_TT_PV"
            },
            {
                "addr": "DB45,REAL8932",
                "name": "PCO_TT_RH"
            },
            {
                "addr": "DB45,REAL8936",
                "name": "PCO_TT_RL"
            },
            {
                "addr": "DB45,REAL8948",
                "name": "PCO_TT_ALM_SV_HH"
            },
            {
                "addr": "DB45,REAL8952",
                "name": "PCO_TT_ALM_SV_H"
            },
            {
                "addr": "DB45,REAL8956",
                "name": "PCO_TT_ALM_SV_L"
            },
            {
                "addr": "DB45,REAL8960",
                "name": "PCO_TT_ALM_SV_LL"
            },
            {
                "addr": "DB45,REAL8974",
                "name": "PCO_TT_HYS_SV_HH"
            },
            {
                "addr": "DB45,REAL8978",
                "name": "PCO_TT_HYS_SV_H"
            },
            {
                "addr": "DB45,REAL8982",
                "name": "PCO_TT_HYS_SV_L"
            },
            {
                "addr": "DB45,REAL8986",
                "name": "PCO_TT_HYS_SV_LL"
            }
        ]
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "664d663a3ca8c57d",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "64690ecdf7ca17a4",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#4B7930",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#4B7930",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#928b8b",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#6db046",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#4b7930",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "icon",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "664d663a3ca8c57d",
        "type": "ui_tab",
        "name": "OVEN BURNER",
        "icon": "fa-free-code-camp",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "182308aa23fdfe0c",
        "type": "ui_group",
        "name": "PCO TT BURNER CONTROL",
        "tab": "664d663a3ca8c57d",
        "order": 3,
        "disp": true,
        "width": "28",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d8455bbb4b88ca11",
        "type": "ui_group",
        "name": "PCO TT BURNER INTERLOCK",
        "tab": "664d663a3ca8c57d",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cd06276e19088ece",
        "type": "ui_group",
        "name": "LINE SELECTION",
        "tab": "664d663a3ca8c57d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10edf20cd1978f63",
        "type": "ui_group",
        "name": "PCO TT ALARM SETTING",
        "tab": "664d663a3ca8c57d",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b8af8da263b78ce",
        "type": "ui_group",
        "name": "PCO CTT ALARM SETTING",
        "tab": "664d663a3ca8c57d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "35d1279dc3c417ba",
        "type": "ui_tab",
        "name": "Motor",
        "icon": "toys",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f38030ca387e052d",
        "type": "ui_group",
        "name": "CGT_STIR_RHS",
        "tab": "35d1279dc3c417ba",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3d9e45e.bcd50ba",
        "type": "ui_group",
        "name": "Radial Gauges",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "49b17fdb.a4e67",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "ac0de5e5.b75fb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ac0de5e5.b75fb8",
        "type": "ui_tab",
        "name": "Tab1",
        "icon": "dashboard"
    },
    {
        "id": "aa6a1221.d871c",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "0bcba62bfbb44b2a",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "0bcba62bfbb44b2a",
        "type": "ui_tab",
        "name": "Tab 7",
        "icon": "dashboard",
        "order": 7
    },
    {
        "id": "ff6b2d8064d36675",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "8277b9e42e351e11",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "7f14bd2591bbda31",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "bb67e652ed84521d",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "447ec6ba7a5fd33f",
        "type": "ui_spacer",
        "z": "531e23be5dd8efe8",
        "name": "spacer",
        "group": "182308aa23fdfe0c",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a6a73230e00c124",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "Important Programming Notes",
        "info": "Updated on 12/1/2023\nTo store a memory in NodeRED use global memory to store the value, so that we can call the memory elsewhere within the project.\n\nFunction \nto retrieve the memory use: example-\nglobal.get(var1)\n\nto set the global memory use: example-\nglobal.set(var1,msg.payload);\n\n\n",
        "x": 540,
        "y": 40,
        "wires": []
    },
    {
        "id": "b97bc1c0.cb899",
        "type": "ui_template",
        "z": "531e23be5dd8efe8",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 120,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fa3e4d121d9191c2",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "This is use to show date and time at header",
        "info": "",
        "x": 210,
        "y": 40,
        "wires": []
    },
    {
        "id": "da0691e9d480e047",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "OVEN BURNER",
        "info": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "20b29bc734692b17",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_BURNER ENABLE",
        "name": "",
        "x": 740,
        "y": 280,
        "wires": []
    },
    {
        "id": "b268c73d16fb60ca",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "DISABLE",
        "tooltip": "BURNER DISABLE",
        "color": "{{text}}",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "20b29bc734692b17",
                "7c926711f59f2ede",
                "59d7561b9b7eab1e"
            ]
        ]
    },
    {
        "id": "cfd2b4beb556b27b",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "ENABLE",
        "tooltip": "BURNER ENABLE",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "20b29bc734692b17",
                "638dd364e0679c6e",
                "0040289591de748f"
            ]
        ]
    },
    {
        "id": "752784e40c7b57b2",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "BURNER ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 700,
        "y": 2180,
        "wires": []
    },
    {
        "id": "73650e755179b3f6",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RUN",
        "diff": true,
        "name": "",
        "x": 140,
        "y": 2180,
        "wires": [
            [
                "279a78e174af41cc"
            ]
        ]
    },
    {
        "id": "279a78e174af41cc",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "RUNNING STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RUNNING\";\n}\nelse\n{\n    msg.payload = \"STOPPED\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2180,
        "wires": [
            [
                "752784e40c7b57b2"
            ]
        ]
    },
    {
        "id": "c9415ea119deeef9",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER MODE",
        "info": "",
        "x": 120,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb1a554c7d2d1d49",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER STATUS",
        "info": "",
        "x": 130,
        "y": 2100,
        "wires": []
    },
    {
        "id": "c49588c318015f84",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "BURNER RESET",
        "tooltip": "BURNER RESET",
        "color": "",
        "bgcolor": "GREY",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "22e5e509e337e63c"
            ]
        ]
    },
    {
        "id": "63ed38e9034aecec",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_RESET",
        "name": "",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "b852ed5021897352",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 12,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "FIRING MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 680,
        "y": 2220,
        "wires": []
    },
    {
        "id": "2369520784470eb3",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH FIRE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"HIGH FIRE\";\n}\nelse\n    msg.payload = \"-\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2220,
        "wires": [
            [
                "b852ed5021897352"
            ]
        ]
    },
    {
        "id": "4aea625171a70cf8",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_HIGH FIRE",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 2220,
        "wires": [
            [
                "2369520784470eb3"
            ]
        ]
    },
    {
        "id": "d37602e423170d0a",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_LOW FIRE",
        "diff": true,
        "name": "",
        "x": 160,
        "y": 2260,
        "wires": [
            [
                "503c816c11329039"
            ]
        ]
    },
    {
        "id": "22e5e509e337e63c",
        "type": "trigger",
        "z": "531e23be5dd8efe8",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "63ed38e9034aecec"
            ]
        ]
    },
    {
        "id": "8e7d1070c458fd78",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "BURNER INTERLOCK",
        "info": "",
        "x": 120,
        "y": 2500,
        "wires": []
    },
    {
        "id": "e67ee8057610ecd1",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "PCO BURNER INTERLOCK",
        "tooltip": "BURNER INTERLOCK",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_BURNER_INTERLOCK\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 460,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "bc1d0b076c269dae",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_COMMON INTERLOCK",
        "diff": true,
        "name": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "90b41bb1b1e5de0b"
            ]
        ]
    },
    {
        "id": "90b41bb1b1e5de0b",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "BUTTON COLOUR",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RED\";\n}\nelse\n{\n    msg.payload = \"GREY\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "e67ee8057610ecd1"
            ]
        ]
    },
    {
        "id": "30dad1a50e6d4d39",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "d8455bbb4b88ca11",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "HIDE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_BURNER_INTERLOCK\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 2540,
        "wires": [
            [
                "44b53a3d233d9c1f"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "2948310533641581",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 980,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e0d72ea15a1aa37a",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 2_1",
        "links": [
            "44b53a3d233d9c1f"
        ],
        "x": 815,
        "y": 420,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "44b53a3d233d9c1f",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 2_2",
        "mode": "link",
        "links": [
            "e0d72ea15a1aa37a"
        ],
        "x": 215,
        "y": 2540,
        "wires": []
    },
    {
        "id": "03705633eccd0f1e",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 1,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "ESTOP",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "ESTOP",
        "x": 580,
        "y": 2580,
        "wires": []
    },
    {
        "id": "4ebfb17d149b3681",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 2,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "MAIN DRIVE OFF FB",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "MAIN DRIVE OFF FB",
        "x": 620,
        "y": 2620,
        "wires": []
    },
    {
        "id": "4d5a6d9c8d73ed45",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 3,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO TT HH ALARM",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO TT HH ALARM",
        "x": 620,
        "y": 2660,
        "wires": []
    },
    {
        "id": "adaf8abedc53967f",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 4,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO CTT HH ALARM",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO CTT HH ALARM",
        "x": 620,
        "y": 2700,
        "wires": []
    },
    {
        "id": "9ef5d8d312068ee6",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 5,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO BL OFF FB",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO BL OFF FB",
        "x": 610,
        "y": 2740,
        "wires": []
    },
    {
        "id": "18b5a21b8f1b225e",
        "type": "ui_led",
        "z": "531e23be5dd8efe8",
        "order": 6,
        "group": "d8455bbb4b88ca11",
        "width": 0,
        "height": 0,
        "label": "PCO TT WIRE BREAK",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PCO TT WIRE BREAK",
        "x": 620,
        "y": 2780,
        "wires": []
    },
    {
        "id": "9e7ffcbd2dec6c4b",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_PID P",
        "name": "",
        "x": 440,
        "y": 660,
        "wires": []
    },
    {
        "id": "f197a2abf9d6658c",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_PID I",
        "name": "",
        "x": 440,
        "y": 700,
        "wires": []
    },
    {
        "id": "14f05e24f4a6f77b",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "SET VALUE (°C)",
        "tooltip": "OVEN BURNER SET VALUE",
        "group": "182308aa23fdfe0c",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "d26a9199a5dfa56e"
            ]
        ]
    },
    {
        "id": "5f18e18d611e4814",
        "type": "ui_gauge",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "PCO TT PV",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ffff29",
            "#11ee11",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 670,
        "y": 880,
        "wires": []
    },
    {
        "id": "319589604de509b9",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PID (P)",
        "tooltip": "",
        "group": "182308aa23fdfe0c",
        "order": 16,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 660,
        "wires": [
            [
                "9e7ffcbd2dec6c4b"
            ]
        ]
    },
    {
        "id": "55fbf2ba885ed060",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PID (I)",
        "tooltip": "",
        "group": "182308aa23fdfe0c",
        "order": 18,
        "width": 2,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 700,
        "wires": [
            [
                "f197a2abf9d6658c"
            ]
        ]
    },
    {
        "id": "682c9829fa8e6469",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_SV",
        "name": "",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "d26a9199a5dfa56e",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_RH",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 500,
        "wires": [
            [
                "f2a1b09e5153f1d5"
            ],
            [
                "fbe858ae85cf2d05",
                "1a1720033abb7d19"
            ]
        ]
    },
    {
        "id": "5f8ada846dc4fadc",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RH",
        "diff": true,
        "name": "",
        "x": 890,
        "y": 880,
        "wires": [
            [
                "0fe103d8a862e9f1"
            ]
        ]
    },
    {
        "id": "0fe103d8a862e9f1",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. RH",
        "func": "global.set(msg.topic,msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "53843c2059cfa9e6",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1010,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "fbe858ae85cf2d05",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var RH=global.get(\"PCO_TT_RH\");\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value. Insert Between 0 - \" + RH;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "53843c2059cfa9e6"
            ]
        ]
    },
    {
        "id": "88e69eccc8008dde",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_SV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 540,
        "wires": [
            [
                "14f05e24f4a6f77b"
            ]
        ]
    },
    {
        "id": "f2a1b09e5153f1d5",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "PCO_TT_SV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 500,
        "wires": [
            [
                "682c9829fa8e6469"
            ]
        ]
    },
    {
        "id": "5fe42aa1f1038ee1",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "Save RH as global memory",
        "info": "",
        "x": 930,
        "y": 820,
        "wires": []
    },
    {
        "id": "b1f77fb70b656ea7",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 1_2",
        "links": [
            "1a1720033abb7d19"
        ],
        "x": 75,
        "y": 540,
        "wires": [
            [
                "88e69eccc8008dde"
            ]
        ]
    },
    {
        "id": "1a1720033abb7d19",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 1_1",
        "mode": "link",
        "links": [
            "b1f77fb70b656ea7"
        ],
        "x": 465,
        "y": 540,
        "wires": []
    },
    {
        "id": "600e782887d15982",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            [
                "5f18e18d611e4814"
            ]
        ]
    },
    {
        "id": "4349615eda7dbdb4",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "OVEN TT PV AND ALARM SETTING",
        "info": "",
        "x": 170,
        "y": 840,
        "wires": []
    },
    {
        "id": "9c3e8781caabaff6",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "PCO TT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1040,
        "wires": [
            [
                "978429571333756f"
            ]
        ]
    },
    {
        "id": "978429571333756f",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "bbfada5e88e72278",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "10edf20cd1978f63",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "HIDE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "8eda9e7cede93ede"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "8eda9e7cede93ede",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_2",
        "mode": "link",
        "links": [
            "35ef7bf729d0c410"
        ],
        "x": 645,
        "y": 1040,
        "wires": []
    },
    {
        "id": "35ef7bf729d0c410",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_1",
        "links": [
            "8eda9e7cede93ede"
        ],
        "x": 295,
        "y": 1000,
        "wires": [
            [
                "978429571333756f"
            ]
        ]
    },
    {
        "id": "c160bd9a71a0face",
        "type": "random",
        "z": "531e23be5dd8efe8",
        "name": "",
        "low": 1,
        "high": "200",
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 960,
        "wires": [
            [
                "5a76a7e40f4c0227"
            ]
        ]
    },
    {
        "id": "5d55666e578f0292",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(\"PCO_TT_HH\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "a4941b01d1463972"
            ]
        ]
    },
    {
        "id": "a3dad1aac0366692",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. H",
        "func": "global.set(\"PCO_TT_H\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1120,
        "wires": [
            [
                "080d9396ee98e37f"
            ]
        ]
    },
    {
        "id": "b325fc4722598793",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. L",
        "func": "global.set(\"PCO_TT_L\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "d4aca6a0cc6e8843"
            ]
        ]
    },
    {
        "id": "5d9d1656276b2b2a",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(\"PCO_TT_LL\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1200,
        "wires": [
            [
                "beb54117bf1798f5"
            ]
        ]
    },
    {
        "id": "34d73c82abb763a1",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "c160bd9a71a0face"
            ]
        ]
    },
    {
        "id": "03c7c082244cd929",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "10edf20cd1978f63",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "5d55666e578f0292"
            ]
        ]
    },
    {
        "id": "5a76a7e40f4c0227",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 880,
        "wires": [
            [
                "5f18e18d611e4814"
            ]
        ]
    },
    {
        "id": "8dbd51a75553cf33",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PCO_TT_RH",
        "payload": "200",
        "payloadType": "num",
        "x": 920,
        "y": 960,
        "wires": [
            [
                "0fe103d8a862e9f1"
            ]
        ]
    },
    {
        "id": "966ecf63762dd5b2",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "10edf20cd1978f63",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "a3dad1aac0366692"
            ]
        ]
    },
    {
        "id": "b2861a41ae1798cd",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "10edf20cd1978f63",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1160,
        "wires": [
            [
                "b325fc4722598793"
            ]
        ]
    },
    {
        "id": "c192b063d1d4b584",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "10edf20cd1978f63",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "c77bcd4eb9852cc6"
            ]
        ]
    },
    {
        "id": "75a35e32e764a142",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 890,
        "y": 920,
        "wires": []
    },
    {
        "id": "a8b5db4f093911a3",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1200,
        "y": 1160,
        "wires": []
    },
    {
        "id": "c77bcd4eb9852cc6",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "5d9d1656276b2b2a"
            ],
            [
                "a53bca32c6f8c552",
                "0823d840ca35b35a"
            ]
        ]
    },
    {
        "id": "a53bca32c6f8c552",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1240,
        "wires": [
            [
                "2cf33973122a7933"
            ]
        ]
    },
    {
        "id": "0823d840ca35b35a",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "c192b063d1d4b584"
            ]
        ]
    },
    {
        "id": "2cf33973122a7933",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7d7d4c1e2e752f",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "10edf20cd1978f63",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "4a0aaab9c13298b5"
            ]
        ]
    },
    {
        "id": "af42b669f2c3614e",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "10edf20cd1978f63",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1340,
        "wires": [
            [
                "151c5a2ca00f1aa5"
            ]
        ]
    },
    {
        "id": "d00ac4e49d17989e",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "10edf20cd1978f63",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1380,
        "wires": [
            [
                "e479f08610a4762e"
            ]
        ]
    },
    {
        "id": "989bf8a02646fdf6",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "10edf20cd1978f63",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1420,
        "wires": [
            [
                "344b5c39186b78ef"
            ]
        ]
    },
    {
        "id": "a4941b01d1463972",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 910,
        "y": 1080,
        "wires": []
    },
    {
        "id": "080d9396ee98e37f",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 900,
        "y": 1120,
        "wires": []
    },
    {
        "id": "d4aca6a0cc6e8843",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 900,
        "y": 1160,
        "wires": []
    },
    {
        "id": "beb54117bf1798f5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 900,
        "y": 1200,
        "wires": []
    },
    {
        "id": "4a0aaab9c13298b5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 910,
        "y": 1300,
        "wires": []
    },
    {
        "id": "151c5a2ca00f1aa5",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 900,
        "y": 1340,
        "wires": []
    },
    {
        "id": "e479f08610a4762e",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 900,
        "y": 1380,
        "wires": []
    },
    {
        "id": "344b5c39186b78ef",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 900,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8bac12e9c6b17c1c",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "5a76a7e40f4c0227"
            ]
        ]
    },
    {
        "id": "df003c1f6e2d5ccc",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 110,
        "y": 920,
        "wires": []
    },
    {
        "id": "76350c560ff81ad9",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "CHAMBER TT PV AND ALARM SETTING",
        "info": "",
        "x": 180,
        "y": 1480,
        "wires": []
    },
    {
        "id": "3c3db064774ea81a",
        "type": "ui_gauge",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "PCO CTT PV",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#ffff29",
            "#11ee11",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 680,
        "y": 1520,
        "wires": []
    },
    {
        "id": "f0a1a51dd3837d8f",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "SET COLOUR RANGE",
        "func": "var RH = global.get(\"PCO_TT_RH\");\nvar HH = global.get(\"PCO_TT_HH\");\nvar H = global.get(\"PCO_TT_H\");\nvar L = global.get(\"PCO_TT_L\");\nvar LL = global.get(\"PCO_TT_LL\");\n\n\nmsg.ui_control = {options:{customSectors: {\n  percents: false, \n  ranges: [{\n    color: \"#000BFD\",\n    lo : 0,\n    hi : LL\n  },{\n    color: \"#FDF600\",\n    lo : LL,\n    hi : L\n  },{\n    color: \"#1BFD00\",\n    lo : L,\n    hi : H\n  },{\n    color: \"#FD9200\",\n    lo : H,\n    hi : HH\n  },{\n    color : \"#FF0000\",\n    lo : HH,\n    hi : RH\n  }]\n    \n}}}\ndelete msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1480,
        "wires": [
            [
                "3c3db064774ea81a"
            ]
        ]
    },
    {
        "id": "5952011739991237",
        "type": "random",
        "z": "531e23be5dd8efe8",
        "name": "",
        "low": 1,
        "high": "200",
        "inte": "false",
        "property": "payload",
        "x": 260,
        "y": 1600,
        "wires": [
            [
                "82d6079b592d68db"
            ]
        ]
    },
    {
        "id": "0d6f65f2300bf31c",
        "type": "inject",
        "z": "531e23be5dd8efe8",
        "name": "INJECT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1600,
        "wires": [
            [
                "5952011739991237"
            ]
        ]
    },
    {
        "id": "82d6079b592d68db",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "2 Decimal Place",
        "func": "msg.payload = Number(msg.payload.toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1520,
        "wires": [
            [
                "3c3db064774ea81a"
            ]
        ]
    },
    {
        "id": "de342819ee517eb1",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "For test only",
        "info": "",
        "x": 110,
        "y": 1560,
        "wires": []
    },
    {
        "id": "ca0e27c8d7c14603",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "CHAMBER TT PV AND ALARM SETTING",
        "info": "",
        "x": 1100,
        "y": 1520,
        "wires": []
    },
    {
        "id": "6881e3e5.30927c",
        "type": "ui_template",
        "z": "531e23be5dd8efe8",
        "group": "",
        "name": "Custom Text Input Dashoard size",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style id='custom-styles'>\n    .nr-dashboard-theme .nr-dashboard-textinput input {\n        border-color: #eeeeee;\n        color: #eeeeee;\n        border-bottom-width: 1px;\n        font-family: inherit;\n        padding-left: 5px;\n        font-size: 25px;\n        height: 45px;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 360,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3546c391b94fca8c",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "182308aa23fdfe0c",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "PCO CTT ALARM SETTING",
        "tooltip": "ALARM SETTING",
        "color": "",
        "bgcolor": "{{msg.payload}}",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_CTT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 1680,
        "wires": [
            [
                "0fcbdf73762289cc"
            ]
        ]
    },
    {
        "id": "0fcbdf73762289cc",
        "type": "ui_ui_control",
        "z": "531e23be5dd8efe8",
        "name": "",
        "events": "all",
        "x": 400,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "ee07e323067328ab",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "7b8af8da263b78ce",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "HIDE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_CTT_ALARM_SETTING\"]}}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 550,
        "y": 1680,
        "wires": [
            [
                "baabce67e4ff11d6"
            ]
        ],
        "info": "This is use to hide the Interlock Status"
    },
    {
        "id": "baabce67e4ff11d6",
        "type": "link out",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_2",
        "mode": "link",
        "links": [
            "5b994a286ae299dd"
        ],
        "x": 645,
        "y": 1680,
        "wires": []
    },
    {
        "id": "5b994a286ae299dd",
        "type": "link in",
        "z": "531e23be5dd8efe8",
        "name": "PCO LINK 3_1",
        "links": [
            "baabce67e4ff11d6"
        ],
        "x": 295,
        "y": 1640,
        "wires": [
            [
                "0fcbdf73762289cc"
            ]
        ]
    },
    {
        "id": "158116ad7511f292",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. HH",
        "func": "global.set(\"PCO_TT_HH\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1720,
        "wires": [
            [
                "828388826c80204a"
            ]
        ]
    },
    {
        "id": "e81e4bb848bee964",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. H",
        "func": "global.set(\"PCO_TT_H\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1760,
        "wires": [
            [
                "5e51f2d1e2782f7b"
            ]
        ]
    },
    {
        "id": "a47a40cea17f73c8",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. L",
        "func": "global.set(\"PCO_TT_L\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1800,
        "wires": [
            [
                "f3272deed5690f4e"
            ]
        ]
    },
    {
        "id": "264e9ba31b1a1a08",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "GLOBAL MEM. LL",
        "func": "global.set(\"PCO_TT_LL\",msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1840,
        "wires": [
            [
                "4a729a04281d1c91"
            ]
        ]
    },
    {
        "id": "0e96737e89478b97",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM HH",
        "tooltip": "ALARM HIGH HIGH SP",
        "group": "7b8af8da263b78ce",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1720,
        "wires": [
            [
                "158116ad7511f292"
            ]
        ]
    },
    {
        "id": "2f03e3b4cd95e14c",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM H",
        "tooltip": "ALARM HIGH SP",
        "group": "7b8af8da263b78ce",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1760,
        "wires": [
            [
                "e81e4bb848bee964"
            ]
        ]
    },
    {
        "id": "d8e97ab737823949",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM L",
        "tooltip": "ALARM LOW SP",
        "group": "7b8af8da263b78ce",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "a47a40cea17f73c8"
            ]
        ]
    },
    {
        "id": "6324927c0420d414",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "PCO TT ALM LL",
        "tooltip": "ALARM LOW LOW SP",
        "group": "7b8af8da263b78ce",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1840,
        "wires": [
            [
                "ba469e8a679d5d06"
            ]
        ]
    },
    {
        "id": "f48fd1bcfb4cbcaa",
        "type": "comment",
        "z": "531e23be5dd8efe8",
        "name": "To include Alarm limit later if needed",
        "info": "",
        "x": 1200,
        "y": 1800,
        "wires": []
    },
    {
        "id": "ba469e8a679d5d06",
        "type": "switch",
        "z": "531e23be5dd8efe8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "PCO_TT_L",
                "v2t": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1840,
        "wires": [
            [
                "264e9ba31b1a1a08"
            ],
            [
                "5033efeb421c8297",
                "398dfa9588a2a8fc"
            ]
        ]
    },
    {
        "id": "5033efeb421c8297",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "Warning Pop Up",
        "func": "var L =global.get(\"PCO_TT_L\");\n\nmsg.topic = \"Warning\"\nmsg.payload = \"Invalid Value Insert Between 0 -\" + L;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1880,
        "wires": [
            [
                "a3cfbb28c58de19f"
            ]
        ]
    },
    {
        "id": "398dfa9588a2a8fc",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PCO_TT_LL",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 1880,
        "wires": [
            [
                "6324927c0420d414"
            ]
        ]
    },
    {
        "id": "a3cfbb28c58de19f",
        "type": "ui_toast",
        "z": "531e23be5dd8efe8",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 810,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "b4275d9df25cebec",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS HH",
        "tooltip": "HYSTERESIS HIGH HIGH",
        "group": "7b8af8da263b78ce",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 1940,
        "wires": [
            [
                "f31dc77a48c47967"
            ]
        ]
    },
    {
        "id": "83203e9e9535e55a",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS H",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "7b8af8da263b78ce",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 1980,
        "wires": [
            [
                "0599f6ad88a2e88d"
            ]
        ]
    },
    {
        "id": "a89672aa0d126d90",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS L",
        "tooltip": "HYSTERESIS LOW",
        "group": "7b8af8da263b78ce",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 2020,
        "wires": [
            [
                "104e236f96102db2"
            ]
        ]
    },
    {
        "id": "490d5427cea74815",
        "type": "ui_text_input",
        "z": "531e23be5dd8efe8",
        "name": "",
        "label": "HYSTERESIS LL",
        "tooltip": "HYSTERESIS LOW LOW",
        "group": "7b8af8da263b78ce",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "10",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 2060,
        "wires": [
            [
                "4dd0f93955cc3f47"
            ]
        ]
    },
    {
        "id": "828388826c80204a",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_HH",
        "name": "",
        "x": 910,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5e51f2d1e2782f7b",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_H",
        "name": "",
        "x": 900,
        "y": 1760,
        "wires": []
    },
    {
        "id": "f3272deed5690f4e",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_L",
        "name": "",
        "x": 900,
        "y": 1800,
        "wires": []
    },
    {
        "id": "4a729a04281d1c91",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_ALM_SV_LL",
        "name": "",
        "x": 900,
        "y": 1840,
        "wires": []
    },
    {
        "id": "f31dc77a48c47967",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_HH",
        "name": "",
        "x": 910,
        "y": 1940,
        "wires": []
    },
    {
        "id": "0599f6ad88a2e88d",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_H",
        "name": "",
        "x": 900,
        "y": 1980,
        "wires": []
    },
    {
        "id": "104e236f96102db2",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_L",
        "name": "",
        "x": 900,
        "y": 2020,
        "wires": []
    },
    {
        "id": "4dd0f93955cc3f47",
        "type": "s7 out",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_HYS_SV_LL",
        "name": "",
        "x": 900,
        "y": 2060,
        "wires": []
    },
    {
        "id": "2a970d2dc3ec18d4",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_PV",
        "diff": true,
        "name": "",
        "x": 110,
        "y": 1520,
        "wires": [
            [
                "82d6079b592d68db"
            ]
        ]
    },
    {
        "id": "6f575a0032279ca4",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"OVEN_BURNER_PCO_TT_BURNER_CONTROL\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1710,
        "y": 40,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "97193e33283b9c72",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"OVEN_BURNER_PCO_TT_BURNER_CONTROL\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 1710,
        "y": 80,
        "wires": [
            [
                "2948310533641581"
            ]
        ]
    },
    {
        "id": "526abb34eb32c7d8",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3c9979029c65c653",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f0d5d6541c0deb33",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e4727a01ffa7c82f",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8ff62f24ebff5e77",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "380d0a8e103594e0",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0ca55c6e758e523e",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "40847de8f11a8bc9",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "135d81ece4e28f3e",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2786d8111c8d80ec",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "870a1c33da2a27d6",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "fa4928d668b1c910",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ce88938869e85881",
        "type": "ui_button",
        "z": "531e23be5dd8efe8",
        "name": "",
        "group": "cd06276e19088ece",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1870,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "638dd364e0679c6e",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "green when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 200,
        "wires": [
            [
                "cfd2b4beb556b27b"
            ]
        ]
    },
    {
        "id": "7c926711f59f2ede",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "grey when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "cfd2b4beb556b27b"
            ]
        ]
    },
    {
        "id": "59d7561b9b7eab1e",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "green when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "b268c73d16fb60ca"
            ]
        ]
    },
    {
        "id": "0040289591de748f",
        "type": "change",
        "z": "531e23be5dd8efe8",
        "name": "grey when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "b268c73d16fb60ca"
            ]
        ]
    },
    {
        "id": "4a58b7a474e27e9e",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "BURNER STATUS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 2300,
        "wires": []
    },
    {
        "id": "96c6058dc273322e",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "RUNNING STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"TRIPPED\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2300,
        "wires": [
            [
                "4a58b7a474e27e9e"
            ]
        ]
    },
    {
        "id": "2a510e31c5d5e94c",
        "type": "s7 in",
        "z": "531e23be5dd8efe8",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_TRIP",
        "diff": true,
        "name": "",
        "x": 140,
        "y": 2300,
        "wires": [
            [
                "96c6058dc273322e"
            ]
        ]
    },
    {
        "id": "af24f7ce8693f336",
        "type": "ui_text",
        "z": "531e23be5dd8efe8",
        "group": "182308aa23fdfe0c",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "ALARM STATE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 2380,
        "wires": []
    },
    {
        "id": "da1a08a3c508ee27",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "FAIL TO RUN",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO RUN\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2380,
        "wires": [
            [
                "af24f7ce8693f336"
            ]
        ]
    },
    {
        "id": "dc448859f7df2724",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "FAIL TO STOP",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO STOP\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 2420,
        "wires": [
            [
                "af24f7ce8693f336"
            ]
        ]
    },
    {
        "id": "503c816c11329039",
        "type": "function",
        "z": "531e23be5dd8efe8",
        "name": "HIGH FIRE",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"LOW FIRE\";\n}\nelse\n    msg.payload = \"-\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2260,
        "wires": [
            [
                "b852ed5021897352"
            ]
        ]
    },
    {
        "id": "26f293446a2014b7",
        "type": "s7 out",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_BURNER ENABLE",
        "name": "",
        "x": 1640,
        "y": 160,
        "wires": []
    },
    {
        "id": "20b410c09d814249",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "MANUAL",
        "tooltip": "BURNER DISABLE",
        "color": "{{text}}",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "26f293446a2014b7",
                "0b040c9070d9d819",
                "aed178b9f9f9dfb6"
            ]
        ]
    },
    {
        "id": "c9f5fc695ee7c2c3",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "AUTO",
        "tooltip": "BURNER ENABLE",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1330,
        "y": 100,
        "wires": [
            [
                "26f293446a2014b7",
                "5bd732ed6b7b0c94",
                "1db40167d13777f6"
            ]
        ]
    },
    {
        "id": "de1727b1b5674191",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "MOTOR SELECTION MODE",
        "info": "",
        "x": 1060,
        "y": 60,
        "wires": []
    },
    {
        "id": "5bd732ed6b7b0c94",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "green when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 100,
        "wires": [
            [
                "c9f5fc695ee7c2c3"
            ]
        ]
    },
    {
        "id": "0b040c9070d9d819",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "grey when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "c9f5fc695ee7c2c3"
            ]
        ]
    },
    {
        "id": "aed178b9f9f9dfb6",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "green when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "20b410c09d814249"
            ]
        ]
    },
    {
        "id": "1db40167d13777f6",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "grey when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 220,
        "wires": [
            [
                "20b410c09d814249"
            ]
        ]
    },
    {
        "id": "e22ffd6bc88dbab8",
        "type": "s7 out",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "variable": "PCO_TT_BURNER ENABLE",
        "name": "",
        "x": 1640,
        "y": 340,
        "wires": []
    },
    {
        "id": "a9877d1f1dd38be5",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "STOP",
        "tooltip": "BURNER DISABLE",
        "color": "{{text}}",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1430,
        "y": 380,
        "wires": [
            [
                "e22ffd6bc88dbab8",
                "9e8b9d8b4f23d766",
                "f8bbf7efcd54da26"
            ]
        ]
    },
    {
        "id": "55f4f548ed79ffbe",
        "type": "ui_button",
        "z": "f97ba6bb088d1b36",
        "name": "",
        "group": "f38030ca387e052d",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "RUN",
        "tooltip": "BURNER ENABLE",
        "color": "",
        "bgcolor": "{{colour}}",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1430,
        "y": 280,
        "wires": [
            [
                "e22ffd6bc88dbab8",
                "f558851cad2ebaa4",
                "39f19e7b1287c952"
            ]
        ]
    },
    {
        "id": "f558851cad2ebaa4",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "green when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 280,
        "wires": [
            [
                "55f4f548ed79ffbe"
            ]
        ]
    },
    {
        "id": "9e8b9d8b4f23d766",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "grey when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "55f4f548ed79ffbe"
            ]
        ]
    },
    {
        "id": "f8bbf7efcd54da26",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "green when disable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "a9877d1f1dd38be5"
            ]
        ]
    },
    {
        "id": "39f19e7b1287c952",
        "type": "change",
        "z": "f97ba6bb088d1b36",
        "name": "grey when enable",
        "rules": [
            {
                "t": "set",
                "p": "colour",
                "pt": "msg",
                "to": "grey",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 400,
        "wires": [
            [
                "a9877d1f1dd38be5"
            ]
        ]
    },
    {
        "id": "938db1e33ebc8884",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "f38030ca387e052d",
        "order": 8,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "MOTOR STATUS",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1570,
        "y": 640,
        "wires": []
    },
    {
        "id": "18bd759a85cfa48d",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "TRIPPED STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"TRIPPED\";\n}\nelse\n{\n    msg.payload = \"-\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 640,
        "wires": [
            [
                "938db1e33ebc8884"
            ]
        ]
    },
    {
        "id": "ccb71026800c3670",
        "type": "s7 in",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_TRIP",
        "diff": true,
        "name": "",
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "18bd759a85cfa48d"
            ]
        ]
    },
    {
        "id": "8e4fe7f61b904be9",
        "type": "s7 in",
        "z": "f97ba6bb088d1b36",
        "endpoint": "8178b9f6e8586214",
        "mode": "single",
        "variable": "PCO_TT_RUN",
        "diff": true,
        "name": "",
        "x": 1040,
        "y": 600,
        "wires": [
            [
                "ce2b3567be875c91"
            ]
        ]
    },
    {
        "id": "ce2b3567be875c91",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "RUNNING STATUS",
        "func": "if (msg.payload == true)\n{\n    msg.payload = \"RUNNING\";\n}\nelse\n{\n    msg.payload = \"STOPPED\";\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 600,
        "wires": [
            [
                "5d1fd2ee67e3376a"
            ]
        ]
    },
    {
        "id": "5d1fd2ee67e3376a",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "f38030ca387e052d",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "MOTOR",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1600,
        "y": 600,
        "wires": []
    },
    {
        "id": "87bcb788f579e584",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "MOTOR STATUS",
        "info": "",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "3d85bb9267af63c1",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "DISABLED BUTTON",
        "func": "if (msg.payload == true)\n{\n    msg.enabled = false;\n}\nelse\n{\n    msg.enabled = true;\n}    \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 440,
        "wires": [
            [
                "55f4f548ed79ffbe",
                "a9877d1f1dd38be5"
            ]
        ]
    },
    {
        "id": "b4573498bd6b09bc",
        "type": "ui_text",
        "z": "f97ba6bb088d1b36",
        "group": "f38030ca387e052d",
        "order": 8,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "ALARM STATE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1580,
        "y": 680,
        "wires": []
    },
    {
        "id": "d2be066e9f588b43",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "FAIL TO RUN",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO RUN\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 680,
        "wires": [
            [
                "b4573498bd6b09bc"
            ]
        ]
    },
    {
        "id": "ae0faf42fe4ec4e9",
        "type": "function",
        "z": "f97ba6bb088d1b36",
        "name": "FAIL TO STOP",
        "func": "\nif (msg.payload == true)\n    {\n    msg.payload = \"FAIL TO STOP\";\n    }\nelse \n    msg.payload = \"-\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 720,
        "wires": [
            [
                "b4573498bd6b09bc"
            ]
        ]
    },
    {
        "id": "e13d663b3f139e30",
        "type": "comment",
        "z": "f97ba6bb088d1b36",
        "name": "MOTOR PV AND SV",
        "info": "",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "5bfdfd75.5562a4",
        "type": "inject",
        "z": "2bc02f46.a8e46",
        "name": "Hide",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Tab1_Group_1\"]}}",
        "payloadType": "json",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "476fc34d.bc2a0c"
            ]
        ]
    },
    {
        "id": "476fc34d.bc2a0c",
        "type": "ui_ui_control",
        "z": "2bc02f46.a8e46",
        "name": "",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6ebe218f.c626",
        "type": "inject",
        "z": "2bc02f46.a8e46",
        "name": "Show",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"group\":{\"show\":[\"Tab1_Group_1\"]}}",
        "payloadType": "json",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "476fc34d.bc2a0c"
            ]
        ]
    },
    {
        "id": "f2a787bd.015a88",
        "type": "function",
        "z": "2bc02f46.a8e46",
        "name": "Create payload",
        "func": "msg.payload = {key1:\"Earth\",key2:\"Wind\",key3:\"Fire\", key4:\"Water\", key5:\"Node-RED \"};\nreturn msg;",
        "outputs": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 320,
        "wires": [
            [
                "fa84a230.b0719"
            ]
        ]
    },
    {
        "id": "13c1f4d.609ae0b",
        "type": "inject",
        "z": "2bc02f46.a8e46",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "Start",
        "payloadType": "str",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "f2a787bd.015a88"
            ]
        ]
    },
    {
        "id": "fa84a230.b0719",
        "type": "ui_template",
        "z": "2bc02f46.a8e46",
        "group": "49b17fdb.a4e67",
        "name": "Text Panel 1",
        "order": 0,
        "width": "0",
        "height": "0",
        "format": "<style>\n\n    #tex1 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: red;\n    }\n    \n    #tex2 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: lime;\n    }\n    \n    #tex3 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: aqua;\n    }\n    \n    #tex4 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: white;\n    }\n    \n    #tex5 {\n        font-weight:bolder;\n        letter-spacing: 4px;\n        fill: yellow;\n}\n    \n</style>\n\n\n<svg>\n\n\n<text id=\"tex1\" x=\"10\" y=\"10\" > {{msg.payload.key1}} </text>\n<text id=\"tex2\" x=\"10\" y=\"30\" > {{msg.payload.key2}} </text>\n<text id=\"tex3\" x=\"10\" y=\"50\" > {{msg.payload.key3}} </text>\n<text id=\"tex4\" x=\"10\" y=\"70\" > {{msg.payload.key4}} </text>\n<text id=\"tex5\" x=\"10\" y=\"90\" > {{msg.payload.key5}} </text>\n\n\n</svg>\n\n\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 320,
        "wires": [
            []
        ]
    }
]